/*@mixin dark_overlay($opacity) {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, $opacity);
}*/
* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
  /*.container.dungeon_page {
    overflow: hidden;

        .box {
            min-width: 1200px;

            @include mobile {
                min-width: 400px;
            }

            @include tablet {
                min-width: 700px;
            }
        }
    }*/
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}

* .bold {
  font-weight: bold;
}

* .coloured {
  color: orangered;
}

* .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .stat-container p:nth-child(2) {
  margin-left: 10px;
}

* .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
}

* .loading .circle-loading {
  width: 100px;
  height: 100px;
  border: 4px rgba(255, 69, 0, 0.25) solid;
  border-top: 4px orangered solid;
  border-radius: 50%;
  -webkit-animation: loading 500ms infinite linear;
          animation: loading 500ms infinite linear;
}

@media (min-width: 767px) and (max-width: 1200px) {
  * .loading .circle-loading {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 767px) {
  * .loading .circle-loading {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  width: auto;
  background: black;
}

* .container .box {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 30px;
  border: 1px white solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 767px) {
  * .container .box {
    width: 400px;
    height: 300px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  * .container .box {
    width: 700px;
    height: 525px;
  }
}

.battle_section {
  position: relative;
  height: 100vh;
  overflow: hidden !important;
  background: black;
}

.battle_section .characters {
  position: absolute;
  top: 40%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battle_section .characters .character_container {
  position: relative;
  width: 250px;
  height: 400px;
  background: black;
  border: 1px white solid;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container {
    width: 125px;
    height: 200px;
  }
}

.battle_section .characters .character_container .top_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 42%;
  background: black;
}

.battle_section .characters .character_container .top_container svg {
  width: 75%;
  height: 75%;
}

.battle_section .characters .character_container .top_container svg path {
  fill: white;
}

.battle_section .characters .character_container .top_container .floating_damage {
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: white;
  font-weight: bold;
  -webkit-animation: floatOut 1.3s linear forwards;
          animation: floatOut 1.3s linear forwards;
}

.battle_section .characters .character_container .top_container .floating_damage.crit {
  color: red;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .top_container .floating_damage {
    bottom: 35px;
    font-size: 8px;
    -webkit-animation: floatOutMobile 1.3s linear forwards;
            animation: floatOutMobile 1.3s linear forwards;
  }
}

@-webkit-keyframes floatOut {
  0% {
    bottom: 70px;
  }
  75% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes floatOut {
  0% {
    bottom: 70px;
  }
  75% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes floatOutMobile {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes floatOutMobile {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.battle_section .characters .character_container .info {
  height: 16%;
}

.battle_section .characters .character_container .info .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45%;
  color: white;
}

.battle_section .characters .character_container .info .name.boss {
  color: darkred;
  font-weight: bold;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .info .name {
    font-size: 10px;
  }
}

.battle_section .characters .character_container .info .hp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55%;
}

.battle_section .characters .character_container .info .hp .value {
  color: white;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .info .hp .value {
    font-size: 10px;
  }
}

.battle_section .characters .character_container .stats {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 42%;
  padding: 5px;
  padding-bottom: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .stats {
    padding: 3px;
    padding-bottom: 3px;
    font-size: 8px;
  }
}

.battle_section .characters .character_container .stats ul {
  margin-top: 10px;
}

.battle_section .characters .character_container .stats ul:nth-child(2) li {
  padding: 2px 17px 2px 0;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .stats ul:nth-child(2) li {
    padding: 1px 7px 1px 0;
  }
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .stats ul {
    margin-top: 5px;
  }
}

.battle_section .characters .character_container .stats ul li {
  padding: 2px 0 2px 17px;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .stats ul li {
    padding: 1px 0 1px 7px;
  }
}

.battle_section .characters .character_container .stats ul li p:nth-child(2) {
  margin-left: 13px;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .stats ul li p:nth-child(2) {
    margin-left: 3px;
  }
}

.battle_section .characters .character_container .stats .stat-container.boss p {
  color: orangered !important;
}

.battle_section .characters .character_container .forfeit_container {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: -71px;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .forfeit_container {
    right: -42px;
  }
}

.battle_section .characters .character_container .forfeit_container a div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: black;
  border: 1px white solid;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.battle_section .characters .character_container .forfeit_container a div:hover {
  border: 1px orangered solid;
  color: orangered;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .forfeit_container a div {
    width: 25px;
    height: 25px;
    font-size: 8px;
  }
}

.battle_section .characters .character_container .actions {
  position: absolute;
  top: 0;
  right: -130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .actions {
    right: -70px;
  }
}

.battle_section .characters .character_container .actions .melee_column, .battle_section .characters .character_container .actions .ranged_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.battle_section .characters .character_container .actions .melee_column .action, .battle_section .characters .character_container .actions .ranged_column .action {
  margin-bottom: 10px;
}

.battle_section .characters .character_container .actions .melee_column .action:hover .hit_chance, .battle_section .characters .character_container .actions .ranged_column .action:hover .hit_chance {
  display: block !important;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .actions .melee_column .action, .battle_section .characters .character_container .actions .ranged_column .action {
    margin-bottom: 5px;
  }
}

.battle_section .characters .character_container .actions .melee_column .action button, .battle_section .characters .character_container .actions .ranged_column .action button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: black;
  border: 1px white solid;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.battle_section .characters .character_container .actions .melee_column .action button:last-child, .battle_section .characters .character_container .actions .ranged_column .action button:last-child {
  margin-bottom: 0;
}

.battle_section .characters .character_container .actions .melee_column .action button:hover, .battle_section .characters .character_container .actions .ranged_column .action button:hover {
  border: 1px orangered solid;
}

.battle_section .characters .character_container .actions .melee_column .action button:hover .hit_chance, .battle_section .characters .character_container .actions .ranged_column .action button:hover .hit_chance {
  border: 1px orangered solid;
}

.battle_section .characters .character_container .actions .melee_column .action button:hover p, .battle_section .characters .character_container .actions .ranged_column .action button:hover p {
  color: orangered;
}

.battle_section .characters .character_container .actions .melee_column .action button:hover svg path, .battle_section .characters .character_container .actions .ranged_column .action button:hover svg path {
  fill: orangered;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .actions .melee_column .action button, .battle_section .characters .character_container .actions .ranged_column .action button {
    width: 25px;
    height: 25px;
    font-size: 8px;
  }
}

.battle_section .characters .character_container .actions .melee_column .action button .icon, .battle_section .characters .character_container .actions .ranged_column .action button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
}

.battle_section .characters .character_container .actions .melee_column .action button .icon#mm, .battle_section .characters .character_container .actions .ranged_column .action button .icon#mm {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.battle_section .characters .character_container .actions .melee_column .action button .icon#ms, .battle_section .characters .character_container .actions .ranged_column .action button .icon#ms {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .actions .melee_column .action button .icon, .battle_section .characters .character_container .actions .ranged_column .action button .icon {
    width: 20px;
    height: 20px;
  }
}

.battle_section .characters .character_container .actions .melee_column .action button .icon svg, .battle_section .characters .character_container .actions .ranged_column .action button .icon svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .actions .melee_column .action button .icon svg, .battle_section .characters .character_container .actions .ranged_column .action button .icon svg {
    width: 16px;
    height: 16px;
  }
}

.battle_section .characters .character_container .actions .melee_column .action button .hit_chance, .battle_section .characters .character_container .actions .ranged_column .action button .hit_chance {
  display: none !important;
  position: absolute;
  top: -40px;
  right: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 50px;
  background: black;
  border: 1px white solid;
  z-index: 100;
}

.battle_section .characters .character_container .actions .melee_column .action button .hit_chance p:first-child, .battle_section .characters .character_container .actions .ranged_column .action button .hit_chance p:first-child {
  padding-top: 8px;
}

.battle_section .characters .character_container .actions .melee_column .action button .hit_chance p:nth-child(2), .battle_section .characters .character_container .actions .ranged_column .action button .hit_chance p:nth-child(2) {
  margin-left: 5px;
}

.battle_section .characters .character_container .actions .melee_column {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .battle_section .characters .character_container .actions .melee_column {
    margin-right: 5px;
  }
}

.battle_section .characters #player {
  margin-left: 150px;
}

@media (max-width: 767px) {
  .battle_section .characters #player {
    margin-left: 40px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .battle_section .characters #player {
    margin-left: 50px;
  }
}

.battle_section .characters #enemy {
  margin-right: 150px;
}

@media (max-width: 767px) {
  .battle_section .characters #enemy {
    margin-right: 40px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .battle_section .characters #enemy {
    margin-right: 50px;
  }
}

.battle_section .game_over {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 350px;
  height: 155px;
  background: black;
  border: 1px white solid;
}

@media (max-width: 767px) {
  .battle_section .game_over {
    bottom: 10%;
    width: 175px;
    height: 80px;
  }
}

.battle_section .game_over .end_text {
  padding-top: 7px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

@media (max-width: 767px) {
  .battle_section .game_over .end_text {
    padding-top: 4px;
    font-size: 10px;
  }
}

.battle_section .game_over .reward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 30px 0 30px;
}

@media (max-width: 767px) {
  .battle_section .game_over .reward {
    padding: 7px 30px 0 15px;
  }
}

.battle_section .game_over .reward .left div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battle_section .game_over .reward .left div p {
  padding-bottom: 2px;
}

.battle_section .game_over .reward .left div p:last-child {
  margin-left: 12px;
}

@media (max-width: 767px) {
  .battle_section .game_over .reward .left div p {
    padding-bottom: 1px;
    font-size: 8px;
  }
}

.battle_section .game_over .reward .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battle_section .game_over .reward .right .item_container {
  margin-right: 5px;
}

.battle_section .game_over .reward .right .item_container:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {
  .battle_section .game_over .reward .right .item_container .stats {
    margin-bottom: 30px;
  }
}

.battle_section .game_over .confirm_btn {
  display: block;
  width: 80px;
  margin: 10px auto 0 auto;
  padding: 5px 0;
  background: black;
  color: white;
  text-align: center;
  border: 1px white solid;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.battle_section .game_over .confirm_btn:hover {
  color: orangered;
  border: 1px orangered solid;
}

@media (max-width: 767px) {
  .battle_section .game_over .confirm_btn {
    width: 60px;
    margin-top: 5px;
    padding: 2px 0;
    font-size: 10px;
  }
}
/*# sourceMappingURL=gamepage.css.map */