
@import "../style.scss";

.battle_section {
    height: calc(100vh - #{$nav_height});
    overflow: hidden!important;

    .dark_overlay {
        @include dark_overlay(0.6);
    }

    .container {
        position: relative;
        height: 100%;
        
        .characters {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .character_container {
                position: relative;
                width: 250px;
                height: 400px;
                margin-top: 50px;
                background: #ccc;
                border: 1px black solid;

                .top_container {
                    position: relative;
                    width: 100%;
                    height: 50%;
                    padding: 5px;
                    box-sizing: border-box;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border: 1px black solid;
                    }

                    .info {
                        width: 150px;
                        position: absolute;
                        bottom: 40px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        text-align: center;
                        font-size: 14px;

                        .name {
                            width: 100%;
                            background: rgba(100, 100, 100, 0.7);
                            border: 1px black solid;
                            color: white;
                        }

                        .hp {
                            width: 100%;
                            margin-top: 3px;
                            background: white;
                            color: white;
                            border: 1px black solid;
                            transition: all 500ms;
                        }
                    }

                    #score {
                        position: absolute;
                        top: 7px;
                        right: 7px;
                        color: rgb(255, 220, 0);
                    }

                    .art_by {
                        display: flex;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        color: white;
                        font-size: 12px;

                        a {
                            padding-left: 2px;
                            color: lightgreen;
                            font-weight: bold;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    .floating_damage {
                        position: absolute;
                        bottom: 70px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        color: white;
                        font-weight: bold;
                    }

                    .floating_damage.crit {
                        color: red;
                    }
                    
                    #fl_dmg_player, #fl_dmg_enemy {
                        animation: floatOut 1.3s linear forwards;
                    }
                    

                    @keyframes floatOut {
                        0% {
                            bottom: 70px;
                        }
                        
                        75% {
                            bottom: 130px;
                            transform: scale(1.5);
                            opacity: 1;
                        }

                        100% {
                            bottom: 130px;
                            transform: scale(1.5);                            
                            opacity: 0;
                        }
                    }

                }

                .stats {
                    width: 100%;
                    height: 50%;
                    padding: 5px;
                    padding-bottom: 6px;
                    box-sizing: border-box;
                    font-size: 14px;
                    
                    .wrapper {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        border: 1px black solid;

                        ul {
                            margin-top: 10px;
    
                            li {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;
                                padding: 2px 0 2px 20px;
    
                                p:nth-child(2) {
                                    margin-left: 10px;
                                }
                            }
                        }

                        ul:nth-child(2) {
                            li {
                                padding: 2px 20px 2px 0;
                            }
                        }
                    }
                    
                }

                .actions {
                    position: absolute;
                    top: 0;
                    right: -130px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: auto;
                    height: 100%;

                    .melee_column, .ranged_column {
                        display: flex;
                        flex-direction: column;

                        .action {
                            margin-bottom: 10px;

                            button {
                                position: relative;
                                width: 50px;
                                height: 50px;
                                background: #ddd;
                                border: 1px black solid;
    
                                .hit_chance {
                                    display: none!important;
                                    position: absolute;
                                    top: -40px;
                                    right: -110px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100px;
                                    height: 50px;
                                    background: #ccc;
                                    border: 1px black solid;
                                    z-index: 100;
    
                                    p:nth-child(2) {
                                        margin-left: 5px;
                                    }
                                }
                                .hit_chance.active {
                                    display: block!important;
                                }
                            }
        
                            button:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }

                    .melee_column {
                        margin-right: 10px;
                    }
                }
            }

            #player {
                margin-left: $character_side_margin;
            }

            #enemy {
                margin-right: $character_side_margin;
            }
        }

        .game_over {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translate(-50%, 0);
            width: 300px;
            padding: 20px 0;
            text-align: center;
            background: #ccc;
            border: 1px black solid;

            .end_text {
                font-weight: bold;
            }

            .reward {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 5px;

                p {
                    font-weight: bold;
                }

                p {
                    margin-right: 10px;
                }
            }

            .confirm_container {
                margin-top: 10px;

                .confirm_btn {
                    padding: 5px 10px;
                    background: black;
                    color: white;
                    transition: all 500ms;
                    &:hover {
                        color: orangered;
                    }
                }
            }
        }
    }   
}