
@import "../style.scss";
     
// Dungeon
.dungeon {
    width: 100%;
    height: 100%;
    position: relative;

    // Dungeon Tip
    #tip {
        position: absolute;
        left: 10px;
        bottom: 10px;

        @include mobile { 
            margin-right: 7px;
            font-size: 12px; 
        }
        
        @include tablet { font-size: 14px; }
    }
    
    // Page Name
    #page_name {
        padding-top: 20px;
        text-align: center;

        @include mobile {
            padding-top: 15px;
            font-size: 18px;
        }

        @include tablet {
            padding-top: 15px;
            font-size: 24px;
        }
    }

    // Current Level
    #current_level {
        text-align: center;
        margin-top: 5px;

        @include mobile {
            margin-top: 2px;
            font-size: 10px;
        }

        @include tablet {
            margin-top: 3px;
            font-size: 14px;
        }
    }

    // Dungeon Container
    .dungeon_container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        // Dungeon Item
        .dungeon_item {
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 200px;
            min-height: 200px;
            margin: 0 10px;
            border: 2px black solid;

            @include tablet {
                min-width: 130px;
                min-height: 130px;
                margin: 0 2px;
            }

            @include mobile {
                min-width: 70px;
                min-height: 70px;
                margin: 0 2px;
            }

            // Image (svg)
            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
                height: 40%;

                path {
                    fill: white;
                }
            }
        

            // Heading
            .heading {
                width: 100%;
                margin: 0 auto;
                padding: 7px 0;
                color: white;
                z-index: 10;
                text-align: center;
                transition: 500ms;
                &:hover {
                    background: black;
                    outline: 1px orangered solid;
                    .stats {
                        display: block;
                    }
                }
                @include mobile {
                    padding: 3px 0;
                }
                
                // Dungeon Name
                #dungeon {
                    font-weight: bold;
                    @include mobile { font-size: 9px; }
                    @include tablet { font-size: 12px; }
                }

                // Enemy Name
                #enemy {
                    margin-top: 5px;
                    font-size: 12px;
                    font-weight: bold;
                    @include mobile { 
                        font-size: 6px;
                        margin-top: 0; 
                    }
                    @include tablet { font-size: 10px; }
                }
    
                // Dungeon Item Stats (displays on Heading hover)
                .stats {
                    display: none;
                    position: absolute;
                    bottom: -1px;
                    left: 185px;
                    width: 110px;
                    padding: 10px;
                    background: black;
                    border: 1px orangered solid;
                    z-index: 100!important;
                    font-size: 14px;
    
                    @include mobile {
                        left: 75px;
                        width: 75px;
                        font-size: 8px;
                    }
                    @include tablet { 
                        left: 135px;
                    }
    
                    .stat_cont.boss { 
                        p {
                            color: orangered!important; 
                        }
                    }
                }
            }

            // Enter Button
            .enter_btn {
                position: absolute;
                bottom: 5px;
                left: 50%;
                transform: translate(-50%, 0);
                @include menu_button;
                width: 100px;
                padding: 7px 0;
                &:hover {
                    border: 1px orangered solid;
                }
                &:not(.active) {
                    background: white;
                    color: black;
                    border: none;
                }

                @include mobile {
                    width: 35px;
                    padding: 2px 0;
                    font-size: 8px;
                }

                @include tablet {
                    width: 60px;
                    padding: 3px 0;
                }
            }
        }

        // Finished Dungeon Item
        .dungeon_item.finished {
            position: relative;

            .text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                p {
                    font-size: 22px;
                    font-weight: bold;
                    text-align: center;
                    letter-spacing: 1px;
                    @include mobile { font-size: 12px; }
                    @include tablet { font-size: 16px; }
                }
    
                p:first-child {
                    padding-bottom: 4px;
                    @include mobile { padding-bottom: 1px; }
                }
            }

        }
    }

    // Back Button
    .back_btn {
        @include menu_button;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0);
        @include mobile {
            bottom: 10px;
        }
    }
}