* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}

* .bold {
  font-weight: bold;
}

* .coloured {
  color: orangered;
}

* .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .stat-container p:nth-child(2) {
  margin-left: 10px;
}

* .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
}

* .loading .circle-loading {
  width: 100px;
  height: 100px;
  border: 4px rgba(255, 69, 0, 0.25) solid;
  border-top: 4px orangered solid;
  border-radius: 50%;
  -webkit-animation: loading 500ms infinite linear;
          animation: loading 500ms infinite linear;
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .loading .circle-loading {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 768px) {
  * .loading .circle-loading {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: auto;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper {
    min-width: auto;
    max-width: auto;
    overflow-x: scroll;
  }
}

@media (max-height: 300px) {
  * .page-wrapper {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll !important;
  }
  * .page-wrapper .content-container {
    height: 100%;
  }
  * .page-wrapper .content-container .side-menu, * .page-wrapper .content-container .main-content {
    height: 100%;
  }
}

@media (max-width: 768px) {
  * .page-wrapper {
    display: block;
  }
}

* .page-wrapper .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px white solid;
  height: 600px;
}

@media (max-height: 300px) {
  * .page-wrapper .content-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

* .page-wrapper .content-container .side-menu {
  width: 300px;
  height: 100%;
  border-right: 1px white solid;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
  }
}

* .page-wrapper .content-container .side-menu .character-info {
  display: none;
  padding: 10px;
}

* .page-wrapper .content-container .side-menu .character-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .page-wrapper .content-container .side-menu .character-info .character-icon {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  margin-left: 10px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .page-wrapper .content-container .side-menu .character-info .level-container .xp-bar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: white;
  height: 10px;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-bottom: 1px white solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover {
  background: white;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover p {
  color: black;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover .link-icon.active svg {
  fill: black;
}

* .page-wrapper .content-container .side-menu .nav-link.locked {
  cursor: default;
}

* .page-wrapper .content-container .side-menu .nav-link.locked p {
  color: #444;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon.active svg {
  fill: white;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon svg {
  width: 18px;
  height: 18px;
  fill: #444;
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu .nav-link {
    padding: 8px 0 8px 12px;
  }
}

* .page-wrapper .content-container .main-content {
  position: relative;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .main-content {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

.dungeon {
  width: 100%;
  height: 100%;
  position: relative;
}

.dungeon #tip {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media (max-width: 768px) {
  .dungeon #tip {
    margin-right: 7px;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon #tip {
    font-size: 14px;
  }
}

.dungeon #page_name {
  padding-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .dungeon #page_name {
    padding-top: 15px;
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon #page_name {
    padding-top: 15px;
    font-size: 24px;
  }
}

.dungeon #current_level {
  text-align: center;
  margin-top: 5px;
}

@media (max-width: 768px) {
  .dungeon #current_level {
    margin-top: 2px;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon #current_level {
    margin-top: 3px;
    font-size: 14px;
  }
}

.dungeon .dungeon_container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dungeon .dungeon_container .dungeon_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  min-height: 200px;
  margin: 0 10px;
  border: 2px black solid;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item {
    min-width: 130px;
    min-height: 130px;
    margin: 0 2px;
  }
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item {
    min-width: 70px;
    min-height: 70px;
    margin: 0 2px;
  }
}

.dungeon .dungeon_container .dungeon_item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 40%;
}

.dungeon .dungeon_container .dungeon_item svg path {
  fill: white;
}

.dungeon .dungeon_container .dungeon_item .heading {
  width: 100%;
  margin: 0 auto;
  padding: 7px 0;
  color: white;
  z-index: 10;
  text-align: center;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.dungeon .dungeon_container .dungeon_item .heading:hover {
  background: black;
  outline: 1px orangered solid;
}

.dungeon .dungeon_container .dungeon_item .heading:hover .stats {
  display: block;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item .heading {
    padding: 3px 0;
  }
}

.dungeon .dungeon_container .dungeon_item .heading #dungeon {
  font-weight: bold;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item .heading #dungeon {
    font-size: 9px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item .heading #dungeon {
    font-size: 12px;
  }
}

.dungeon .dungeon_container .dungeon_item .heading #enemy {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item .heading #enemy {
    font-size: 6px;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item .heading #enemy {
    font-size: 10px;
  }
}

.dungeon .dungeon_container .dungeon_item .heading .stats {
  display: none;
  position: absolute;
  bottom: -1px;
  left: 185px;
  width: 110px;
  padding: 10px;
  background: black;
  border: 1px orangered solid;
  z-index: 100 !important;
  font-size: 14px;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item .heading .stats {
    left: 75px;
    width: 75px;
    font-size: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item .heading .stats {
    left: 135px;
  }
}

.dungeon .dungeon_container .dungeon_item .heading .stats .stat_cont.boss p {
  color: orangered !important;
}

.dungeon .dungeon_container .dungeon_item .enter_btn {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 150px;
  padding: 10px 0;
  background: black;
  color: white;
  border: 1px white solid;
  text-align: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: 100px;
  padding: 7px 0;
}

.dungeon .dungeon_container .dungeon_item .enter_btn:hover {
  background: black;
  color: orangered;
  border: 1px orangered solid;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item .enter_btn {
    width: 80px;
    padding: 4px 0;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item .enter_btn {
    width: 135px;
    padding: 8px 0;
  }
}

.dungeon .dungeon_container .dungeon_item .enter_btn:hover {
  border: 1px orangered solid;
}

.dungeon .dungeon_container .dungeon_item .enter_btn:not(.active) {
  background: white;
  color: black;
  border: none;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item .enter_btn {
    width: 35px;
    padding: 2px 0;
    font-size: 8px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item .enter_btn {
    width: 60px;
    padding: 3px 0;
  }
}

.dungeon .dungeon_container .dungeon_item.finished {
  position: relative;
}

.dungeon .dungeon_container .dungeon_item.finished .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.dungeon .dungeon_container .dungeon_item.finished .text p {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item.finished .text p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .dungeon_container .dungeon_item.finished .text p {
    font-size: 16px;
  }
}

.dungeon .dungeon_container .dungeon_item.finished .text p:first-child {
  padding-bottom: 4px;
}

@media (max-width: 768px) {
  .dungeon .dungeon_container .dungeon_item.finished .text p:first-child {
    padding-bottom: 1px;
  }
}

.dungeon .back_btn {
  width: 150px;
  padding: 10px 0;
  background: black;
  color: white;
  border: 1px white solid;
  text-align: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.dungeon .back_btn:hover {
  background: black;
  color: orangered;
  border: 1px orangered solid;
}

@media (max-width: 768px) {
  .dungeon .back_btn {
    width: 80px;
    padding: 4px 0;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .dungeon .back_btn {
    width: 135px;
    padding: 8px 0;
  }
}

@media (max-width: 768px) {
  .dungeon .back_btn {
    bottom: 10px;
  }
}
/*# sourceMappingURL=dungeon.css.map */