
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

@mixin large {
    @media(max-width: #{$extra-large - 0.02px}) {
        @content;
    }
}

@mixin medium {
    @media(max-width: #{$large - 0.02px}) {
        @content;
    }
}

@mixin small {
    @media(max-width: #{$medium - 0.02px}) {
        @content;
    }
}

@mixin extra-small {
    @media(max-width: #{$small - 0.02px}) {
        @content;
    }
}