
// Bold Class
.bold {
    font-weight: bold;
}

// Coloured Class
.coloured {
    color: orangered;
}

// Heading
.heading {
    padding-top: 20px;
    font-size: 32px;
    text-align: center;

    @include medium {
        padding-top: 10px;
        font-size: 24px;
    }

    @include small {
        font-size: 18px;
        padding-top: 7px;
    }
}

// Buttons
.btn {
    width: 85px;
    padding: 10px 0;
    background: white;
    border: 1px black solid;
    transition: 500ms all;
    color: black;
    cursor: pointer;
    p { color: black; }

    @include large {
        width: 70px;
        padding: 7px 0;
    }

    @include medium {
        width: 60px;
        padding: 6px 0;
        font-size: 12px;
    }

    @include small {
        width: 50px;
        padding: 5px 0;
        font-size: 10px;
    }

    &.active:hover {
        background: white;
        border-color: black;
        color: black;
        p { color: black; }
    }
    &.active2:hover {
        background: black;   
        border-color: orangered;
        color: orangered;
        p { color: orangered; }
    }

    &.active, &.active2 {
        background: black;
        border-color: white;
        color: white;
        p { color: white; }
    }
}

// Stat Container
.stat-container {
display: flex;
flex-direction: row;
justify-content: space-between;

    p:nth-child(2) {
        margin-left: 10px;
    }
}
