
// Wrapper
.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    width: auto;
    background: black;

    // Content Container
    .content-container {
        display: flex;
        border: 1px white solid;
        height: 600px;
        
        @include large {
            height: 480px;
        }
        
        @include medium {
            width: 100%;
            height: 100vh;
        }
    
        // Main Content
        .main-content {
            position: relative;
            width: 800px;
            height: 100%;
            box-sizing: border-box;
            background: black;

            @include large {
                width: 640px;
            }

            @include medium {
                width: 100vw;
            }
        }
    }
}