.bold {
  font-weight: bold;
}

.coloured {
  color: orangered;
}

.heading {
  padding-top: 20px;
  font-size: 32px;
  text-align: center;
}

.btn {
  width: 85px;
  padding: 10px 0;
  background: white;
  border: 1px black solid;
  -webkit-transition: 500ms all;
  transition: 500ms all;
  color: black;
  cursor: pointer;
}

.btn p {
  color: black;
}

.btn.active:hover {
  background: white;
  border-color: black;
  color: black;
}

.btn.active:hover p {
  color: black;
}

.btn.active2:hover {
  background: black;
  border-color: orangered;
  color: orangered;
}

.btn.active2:hover p {
  color: orangered;
}

.btn.active, .btn.active2 {
  background: black;
  border-color: white;
  color: white;
}

.btn.active p, .btn.active2 p {
  color: white;
}

.stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stat-container p:nth-child(2) {
  margin-left: 10px;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: auto;
  background: black;
}

@media (max-width: 500px) {
  .page-wrapper {
    min-width: auto;
    max-width: auto;
    overflow-x: scroll;
  }
}

@media (max-height: 300px) {
  .page-wrapper {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll !important;
  }
  .page-wrapper .content-container {
    height: 100%;
  }
  .page-wrapper .content-container .side-menu, .page-wrapper .content-container .main-content {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    display: block;
  }
}

.page-wrapper .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px white solid;
  height: 600px;
}

@media (max-height: 300px) {
  .page-wrapper .content-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

.page-wrapper .content-container .main-content {
  position: relative;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 500px) {
  .page-wrapper .content-container .main-content {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@-webkit-keyframes floatOut {
  0% {
    bottom: 70px;
  }
  75% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes floatOut {
  0% {
    bottom: 70px;
  }
  75% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes floatOutMobile {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes floatOutMobile {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.side-menu {
  width: 300px;
  height: 100%;
  border-right: 1px white solid;
}

@media (max-width: 500px) {
  .side-menu {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  .side-menu {
    min-width: 25%;
    max-width: 25%;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .side-menu {
    min-width: 25%;
    max-width: 25%;
  }
}

.side-menu .character-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.side-menu .character-info .character-icon {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 5px;
}

.side-menu .character-info .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  margin-left: 10px;
}

.side-menu .character-info .level-container .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu .character-info .level-container .top-container .currency {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.side-menu .character-info .level-container .top-container .currency .gold {
  color: gold;
}

.side-menu .character-info .level-container .top-container .currency .gold svg {
  fill: gold;
}

.side-menu .character-info .level-container .top-container .currency .rolls {
  margin-left: 7px;
  color: #a50000;
}

.side-menu .character-info .level-container .top-container .currency .rolls svg {
  fill: #a50000;
}

.side-menu .character-info .level-container .top-container .currency svg {
  width: 12px;
  height: 12px;
  fill: white;
}

.side-menu .character-info .level-container .xp-bar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: white;
  height: 10px;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  border-radius: 5px;
}

.side-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-bottom: 1px white solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.side-menu .nav-link:not(.locked):hover {
  background: white;
}

.side-menu .nav-link:not(.locked):hover p {
  color: black;
}

.side-menu .nav-link:not(.locked):hover .link-icon.active svg {
  fill: black;
}

.side-menu .nav-link.locked {
  cursor: default;
}

.side-menu .nav-link.locked p {
  color: #444;
}

.side-menu .nav-link .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu .nav-link .link-icon.active svg {
  fill: white;
}

.side-menu .nav-link .link-icon svg {
  width: 18px;
  height: 18px;
  fill: #444;
}

@media (max-width: 768px) {
  .side-menu .nav-link {
    padding: 8px 0 8px 12px;
  }
}

.home-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: black;
}

.home-page .content {
  margin-bottom: 30px;
}

.home-page .content .headings {
  text-align: center;
}

.home-page .content .headings .main-heading {
  font-size: 40px;
}

.home-page .content .headings .main-heading .colorized {
  color: orangered;
}

.home-page .content .headings .sub-heading {
  font-size: 20px;
  margin-top: 10px;
  font-weight: normal;
}

.home-page .content .continue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.home-page .content .continue .continue-link {
  display: block;
  width: 120px;
  padding: 8px 0;
  text-align: center;
}

.home-page .corner {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.home-page .corner .github-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px white solid;
}

.home-page .corner .github-link:hover {
  border-color: orangered;
}

.home-page .corner .github-link:hover .star-icon svg {
  fill: orangered;
}

.home-page .corner .github-link:hover .amount {
  border-color: orangered;
}

.home-page .corner .github-link:hover p {
  color: orangered;
}

.home-page .corner .github-link .star-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
}

.home-page .corner .github-link .star-icon svg {
  width: 14px;
  height: 14px;
  fill: white;
}

.home-page .corner .github-link .github-text {
  margin-right: 5px;
}

.home-page .corner .github-link .amount {
  height: 100%;
  padding: 7px;
  border-left: 1px white solid;
}

.battle-section {
  height: 100vh;
  overflow: hidden !important;
  background: black;
}

.battle-section .characters {
  width: 100%;
  padding: 120px 150px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .battle-section .characters {
    padding: 120px 40px 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .battle-section .characters {
    padding: 120px 50px 0 50px;
  }
}

.battle-section .game-over {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 350px;
  padding: 10px 0;
  background: black;
  border: 1px white solid;
}

.battle-section .game-over.active {
  display: block;
}

@media (max-width: 768px) {
  .battle-section .game-over {
    width: 200px;
    padding: 5px 0;
  }
}

.battle-section .game-over .end-text {
  text-align: center;
  font-size: 20px;
}

@media (max-width: 768px) {
  .battle-section .game-over .end-text {
    padding-top: 4px;
    font-size: 12px;
  }
}

.battle-section .game-over .reward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .battle-section .game-over .reward {
    margin-top: 7px;
    padding: 0 10px;
  }
}

.battle-section .game-over .reward .left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battle-section .game-over .reward .left li p {
  margin-bottom: 2px;
}

.battle-section .game-over .reward .left li p:last-child {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .battle-section .game-over .reward .left li p {
    margin-bottom: 1px;
    font-size: 9px;
  }
}

.battle-section .game-over .reward .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battle-section .game-over .reward .right .item-container {
  margin-left: 5px;
}

.battle-section .game-over .reward .right .item-container:first-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .battle-section .game-over .reward .right .item-container .stats {
    margin-bottom: 30px;
  }
}

.battle-section .game-over .confirm-btn {
  display: block;
  margin: 12px auto 0 auto;
  padding: 8px 0;
  text-align: center;
}

@media (max-width: 768px) {
  .battle-section .game-over .confirm-btn {
    width: 60px;
    margin-top: 8px;
    padding: 4px 0;
    font-size: 10px;
  }
}

.character-container {
  position: relative;
  width: 250px;
  height: 400px;
  background: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .character-container {
    width: 125px;
    height: 200px;
  }
}

.character-container .top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 42%;
  background: black;
}

.character-container .top svg {
  width: 75%;
  height: 75%;
  fill: white;
}

.character-container .top .floating-damage {
  display: none;
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: white !important;
  font-weight: bold;
  -webkit-animation: floatOut 1.3s linear forwards;
          animation: floatOut 1.3s linear forwards;
}

.character-container .top .floating-damage.crit::before {
  content: '!! ';
}

.character-container .top .floating-damage.crit::after {
  content: ' !!';
}

.character-container .top .floating-damage.active {
  display: block;
}

@media (max-width: 768px) {
  .character-container .top .floating-damage {
    bottom: 35px;
    font-size: 8px;
    -webkit-animation: floatOutMobile 1.3s linear forwards;
            animation: floatOutMobile 1.3s linear forwards;
  }
}

.character-container .info {
  height: 16%;
}

.character-container .info .name {
  height: 45%;
  text-align: center;
  color: white;
}

.character-container .info .name.boss {
  font-weight: bold;
}

@media (max-width: 768px) {
  .character-container .info .name {
    font-size: 10px;
  }
}

.character-container .info .hp {
  position: relative;
  height: 55%;
}

.character-container .info .hp .hp-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dc0000;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.character-container .info .hp .hp-max {
  width: 100%;
  height: 100%;
  background: #4b0000;
}

.character-container .info .hp .hp-value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
}

@media (max-width: 768px) {
  .character-container .info .hp .hp-value {
    font-size: 10px;
  }
}

.character-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 42%;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

@media (max-width: 768px) {
  .character-container .stats {
    padding: 3px;
    padding-bottom: 3px;
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  .character-container .stats ul {
    margin-top: 5px;
  }
}

.character-container .stats ul .stat-container {
  padding: 2px 0;
}

.character-container .stats ul .stat-container.boss p {
  color: orangered !important;
}

@media (max-width: 768px) {
  .character-container .stats ul .stat-container {
    padding: 1px 0;
  }
}

.character-container .stats ul .stat-container p:nth-child(2) {
  margin-left: 13px;
}

@media (max-width: 768px) {
  .character-container .stats ul .stat-container p:nth-child(2) {
    margin-left: 3px;
  }
}

#enemy.avian {
  border-color: #ff97b7;
}

#enemy.avian svg {
  fill: #ff97b7;
}

#enemy.avian p:not(.hp-value) {
  color: #ff97b7;
}

#enemy.avian .hp-current {
  background: #ff97b7;
}

#enemy.avian .hp-max {
  background: #cb4b82;
}

#enemy.dinosaur {
  border-color: #ed6a5a;
}

#enemy.dinosaur svg {
  fill: #ed6a5a;
}

#enemy.dinosaur p:not(.hp-value) {
  color: #ed6a5a;
}

#enemy.dinosaur .hp-current {
  background: #ed6a5a;
}

#enemy.dinosaur .hp-max {
  background: #931e10;
}

#enemy.insect {
  border-color: #53dd6c;
}

#enemy.insect svg {
  fill: #53dd6c;
}

#enemy.insect p:not(.hp-value) {
  color: #53dd6c;
}

#enemy.insect .hp-current {
  background: #53dd6c;
}

#enemy.insect .hp-max {
  background: #197e2b;
}

#enemy.wildlife {
  border-color: #e09767;
}

#enemy.wildlife svg {
  fill: #e09767;
}

#enemy.wildlife p:not(.hp-value) {
  color: #e09767;
}

#enemy.wildlife .hp-current {
  background: #e09767;
}

#enemy.wildlife .hp-max {
  background: #8a5a44;
}

#enemy.reptile {
  border-color: #02c39a;
}

#enemy.reptile svg {
  fill: #02c39a;
}

#enemy.reptile p:not(.hp-value) {
  color: #02c39a;
}

#enemy.reptile .hp-current {
  background: #02c39a;
}

#enemy.reptile .hp-max {
  background: #00614d;
}

#enemy.aquatic {
  border-color: #00e1e1;
}

#enemy.aquatic svg {
  fill: #00e1e1;
}

#enemy.aquatic p:not(.hp-value) {
  color: #00e1e1;
}

#enemy.aquatic .hp-current {
  background: #00e1e1;
}

#enemy.aquatic .hp-max {
  background: #007f7f;
}

.actions {
  display: none;
  position: absolute;
  top: 0;
  left: 250px;
  width: 200px;
  padding-left: 30px;
  z-index: 10;
}

.actions.active {
  display: block;
}

.actions .forfeit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-top: 20px;
  padding: 0;
}

.actions .columns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}

.actions .columns-container .melee-column, .actions .columns-container .ranged-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.actions .columns-container .melee-column .action-btn, .actions .columns-container .ranged-column .action-btn {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  padding: 0;
}

.actions .columns-container .melee-column .action-btn:first-child, .actions .columns-container .ranged-column .action-btn:first-child {
  margin-top: 0;
}

.actions .columns-container .melee-column .action-btn:hover path, .actions .columns-container .ranged-column .action-btn:hover path {
  fill: black !important;
}

.actions .columns-container .melee-column .action-btn:hover .action-info, .actions .columns-container .ranged-column .action-btn:hover .action-info {
  display: block;
}

.actions .columns-container .melee-column .action-btn .icon, .actions .columns-container .ranged-column .action-btn .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.actions .columns-container .melee-column .action-btn .icon svg, .actions .columns-container .ranged-column .action-btn .icon svg {
  width: 70%;
  height: 70%;
}

.actions .columns-container .melee-column .action-btn .action-info, .actions .columns-container .ranged-column .action-btn .action-info {
  display: none;
  position: absolute;
  top: 0;
  left: calc(50px + 20px);
  padding: 12px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: black;
  border: 1px white solid;
}

.actions .columns-container .melee-column .action-btn .action-info p, .actions .columns-container .ranged-column .action-btn .action-info p {
  color: white;
}

.actions .columns-container .melee-column .action-btn .action-info .name, .actions .columns-container .ranged-column .action-btn .action-info .name {
  font-weight: bold;
  text-align: center;
}

.actions .columns-container .melee-column .action-btn .action-info .hit-chance, .actions .columns-container .ranged-column .action-btn .action-info .hit-chance {
  margin-top: 10px;
}

.actions .columns-container .melee-column .action-btn .action-info .dmg, .actions .columns-container .ranged-column .action-btn .action-info .dmg {
  margin-top: 3px;
}

.actions .columns-container .melee-column .action-btn:nth-child(2) svg {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.actions .columns-container .melee-column .action-btn:nth-child(3) svg {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.actions .columns-container .melee-column .action-info {
  left: calc(2 * 50px + 15px + 20px) !important;
}

.actions .columns-container .ranged-column {
  margin-left: 15px;
}

.classic-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.classic-game .reroll-enemies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 13px 40px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.classic-game .enemies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.dungeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.dungeon .boss-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.enemy-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 330px;
  border: 1px white solid;
}

.enemy-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 14px;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px white solid;
}

.enemy-card .top .info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.enemy-card .top .info-btn svg {
  width: 14px;
  height: 14px;
}

.enemy-card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px white solid;
  height: 170px;
}

.enemy-card .icon svg {
  width: 100px;
  height: 100px;
  fill: white;
}

.enemy-card .bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.enemy-card .bottom .drop-container, .enemy-card .bottom .attack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

.enemy-card .bottom .drop-container svg, .enemy-card .bottom .attack-container svg {
  width: 75%;
  height: 75%;
}

.enemy-card .bottom .drop-container .drop-name, .enemy-card .bottom .drop-container .attack-warning, .enemy-card .bottom .attack-container .drop-name, .enemy-card .bottom .attack-container .attack-warning {
  display: none;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.enemy-card .bottom .drop-container .drop-name.active, .enemy-card .bottom .drop-container .attack-warning.active, .enemy-card .bottom .attack-container .drop-name.active, .enemy-card .bottom .attack-container .attack-warning.active {
  display: block;
}

.enemy-card .bottom .drop-container {
  background: #555;
}

.enemy-card .bottom .drop-container:hover .drop-name {
  display: block;
}

.enemy-card .bottom .attack-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 15px;
}

.enemy-card .bottom .attack-container:not(.active) svg {
  fill: white !important;
}

.enemy-card .bottom .attack-container:hover .attack-warning {
  display: block;
}

.enemy-card .bottom .attack-container svg {
  width: 100%;
  height: 100%;
}

.enemy-card .bottom .attack-container .attack-warning {
  color: white;
}

.enemy-card .info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.enemy-card .info.active {
  display: block;
}

.enemy-card .info .info-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.enemy-card .info .info-container .hide-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.enemy-card .info .info-container .hide-btn svg {
  width: 16px;
  height: 16px;
}

.enemy-card .info .info-container .name {
  padding-top: 45px;
}

.enemy-card .info .info-container .name p {
  font-weight: bold;
  text-align: center;
}

.enemy-card .info .info-container .stats {
  padding: 25px 20px 10px 20px;
}

.enemy-card.avian svg {
  fill: #ff97b7 !important;
}

.enemy-card.avian p {
  color: #ff97b7;
}

.enemy-card.avian .top, .enemy-card.avian .icon, .enemy-card.avian {
  border-color: #ff97b7;
}

.enemy-card.dinosaur svg {
  fill: #ed6a5a !important;
}

.enemy-card.dinosaur p {
  color: #ed6a5a;
}

.enemy-card.dinosaur .top, .enemy-card.dinosaur .icon, .enemy-card.dinosaur {
  border-color: #ed6a5a;
}

.enemy-card.insect svg {
  fill: #53dd6c !important;
}

.enemy-card.insect p {
  color: #53dd6c;
}

.enemy-card.insect .top, .enemy-card.insect .icon, .enemy-card.insect {
  border-color: #53dd6c;
}

.enemy-card.wildlife svg {
  fill: #e09767 !important;
}

.enemy-card.wildlife p {
  color: #e09767;
}

.enemy-card.wildlife .top, .enemy-card.wildlife .icon, .enemy-card.wildlife {
  border-color: #e09767;
}

.enemy-card.reptile svg {
  fill: #02c39a !important;
}

.enemy-card.reptile p {
  color: #02c39a;
}

.enemy-card.reptile .top, .enemy-card.reptile .icon, .enemy-card.reptile {
  border-color: #02c39a;
}

.enemy-card.aquatic svg {
  fill: #00e1e1 !important;
}

.enemy-card.aquatic p {
  color: #00e1e1;
}

.enemy-card.aquatic .top, .enemy-card.aquatic .icon, .enemy-card.aquatic {
  border-color: #00e1e1;
}

.inventory .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: auto;
  padding-top: 40px;
}

.inventory .container .left .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inventory .container .left .top .current-equipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background: black;
  border: 1px white solid;
}

.inventory .container .left .top .current-equipment ul:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .container .left .top .current-equipment ul:first-child {
    margin-right: 2px;
  }
}

.inventory .container .left .top .current-equipment ul li {
  margin-bottom: 5px;
}

.inventory .container .left .top .current-equipment ul li:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .inventory .container .left .top .current-equipment ul li {
    margin-bottom: 2px;
  }
}

.inventory .container .left .top .player-stats {
  margin: 5px 0 0 30px;
}

@media (max-width: 768px) {
  .inventory .container .left .top .player-stats {
    font-size: 10px;
    margin: 5px 0 0 10px;
  }
}

.inventory .container .left .top .player-stats .name {
  margin-bottom: 10px;
}

.inventory .container .left .top .player-stats ul li {
  padding: 0 3px;
}

.inventory .container .left .shop {
  display: inline-block;
  margin-top: 40px;
  padding: 20px;
  border: 1px white solid;
}

.inventory .container .left .shop .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inventory .container .left .shop .items .item-container {
  margin-left: 5px;
}

.inventory .container .left .shop .items .item-container:first-child {
  margin-left: 0;
}

.inventory .container .left .shop .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.inventory .container .right .inventory-items {
  border: 1px white solid;
  padding: 10px;
}

.inventory .container .right .inventory-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.inventory .container .right .inventory-items ul:last-child {
  margin-bottom: 0px;
}

.inventory .container .right .inventory-items .item-container {
  margin-right: 5px;
}

.inventory .container .right .inventory-items .item-container:last-child {
  margin-right: 0;
}

.inventory .container .right .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.inventory .container .right .options .options-right .sell-btn {
  margin-left: 10px;
}

.inventory .container .right .options .sort-btn {
  position: relative;
  width: 40px;
  padding: 11px 0;
}

.inventory .container .right .options .sort-btn p {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.crafting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.crafting .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.crafting .content .explanations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.crafting .content .explanations p {
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}

.crafting .content .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 276px;
  margin: 0 auto;
}

.crafting .content .middle-container .player-drops {
  margin: 30px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .player-drops ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .player-drops ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craftable-items {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .craftable-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .craftable-items ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craftable-items ul .item-container .item {
  width: 40px;
  height: 40px;
}

.crafting .content .middle-container .drops-needed {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .drops-needed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .drops-needed ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craft-btn {
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.item-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  background: #999;
  border: 1px black solid;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.item-container.selected {
  background: white !important;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .item-container {
    width: 26px;
    height: 26px;
  }
}

.item-container .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  outline: 0;
}

.item-container .item:hover .stats {
  display: block;
}

@media (max-width: 768px) {
  .item-container .item {
    width: 23px;
    height: 23px;
  }
}

.item-container .item .item-icon svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

@media (max-width: 768px) {
  .item-container .item .item-icon svg {
    width: 18px;
    height: 18px;
  }
}

.item-container .item .drop-amount {
  position: absolute;
  bottom: -2px;
  right: 1px;
  color: white;
  font-size: 13px;
}

@media (max-width: 768px) {
  .item-container .item .drop-amount {
    bottom: 0;
    font-size: 8px;
  }
}

.item-container .item .stats {
  display: none;
  margin-bottom: -15px;
  margin-left: 320px;
  padding: 10px 15px;
  background: black;
  border: 1px white solid;
  color: white;
  z-index: 100;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 768px) {
  .item-container .item .stats {
    min-width: 150px;
    margin-left: 210px;
    font-size: 10px;
    padding: 5px;
  }
}

.item-container .item .stats .bonus-container, .item-container .item .stats .stat-container, .item-container .item .stats .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-container .item .stats .name-container {
  min-width: 150px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.item-container .item .stats .name-container p:nth-child(2) {
  padding-top: 3px;
  font-size: 16px;
  margin-left: 15px;
}

.item-container .item .stats .name-container #name {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 768px) {
  .item-container .item .stats .name-container #name {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.item-container .item .stats .stat-container {
  margin: 4px 0 5px 0;
}

.item-container .item .stats .stat-container p {
  font-weight: bold;
}

.item-container .item .stats .bonuses .bonus-container {
  margin-top: 1px;
}

.item-container .item .stats .gold-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.item-container .item .stats .gold-value .value {
  margin-right: 5px;
  color: gold;
}

.item-container .item .stats .gold-value .gold-icon {
  width: 14px;
  height: 14px;
}

.item-container .item .stats .gold-value .gold-icon svg {
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
  fill: gold;
}

.item-container.drop {
  background: #555;
}

.item-container.drop .item {
  background: #555;
}

.item-container.drop.no-functionality .item {
  cursor: default !important;
}

.item-container.drop.has-amount svg {
  top: 40%;
  left: 40%;
}

.item-container.drop:not(.has-amount) svg {
  opacity: 0.4;
}

.item-container.avian-soul .stats, .item-container.feather .stats {
  border-color: #ff97b7;
}

.item-container.avian-soul #name, .item-container.feather #name {
  color: #ff97b7;
}

.item-container.avian-soul .drop-amount, .item-container.feather .drop-amount {
  color: #ff97b7;
}

.item-container.avian-soul svg, .item-container.feather svg {
  fill: #ff97b7;
}

.item-container.dinosaur-soul .stats, .item-container.fossil .stats {
  border-color: #ed6a5a;
}

.item-container.dinosaur-soul #name, .item-container.fossil #name {
  color: #ed6a5a;
}

.item-container.dinosaur-soul .drop-amount, .item-container.fossil .drop-amount {
  color: #ed6a5a;
}

.item-container.dinosaur-soul svg, .item-container.fossil svg {
  fill: #ed6a5a;
}

.item-container.insect-soul .stats, .item-container.poison .stats {
  border-color: #53dd6c;
}

.item-container.insect-soul #name, .item-container.poison #name {
  color: #53dd6c;
}

.item-container.insect-soul .drop-amount, .item-container.poison .drop-amount {
  color: #53dd6c;
}

.item-container.insect-soul svg, .item-container.poison svg {
  fill: #53dd6c;
}

.item-container.wildlife-soul .stats, .item-container.wildlife-leather .stats {
  border-color: #e09767;
}

.item-container.wildlife-soul #name, .item-container.wildlife-leather #name {
  color: #e09767;
}

.item-container.wildlife-soul .drop-amount, .item-container.wildlife-leather .drop-amount {
  color: #e09767;
}

.item-container.wildlife-soul svg, .item-container.wildlife-leather svg {
  fill: #e09767;
}

.item-container.reptile-soul .stats, .item-container.reptile-leather .stats {
  border-color: #02c39a;
}

.item-container.reptile-soul #name, .item-container.reptile-leather #name {
  color: #02c39a;
}

.item-container.reptile-soul .drop-amount, .item-container.reptile-leather .drop-amount {
  color: #02c39a;
}

.item-container.reptile-soul svg, .item-container.reptile-leather svg {
  fill: #02c39a;
}

.item-container.aquatic-soul .stats, .item-container.aqua-meat .stats {
  border-color: #00e1e1;
}

.item-container.aquatic-soul #name, .item-container.aqua-meat #name {
  color: #00e1e1;
}

.item-container.aquatic-soul .drop-amount, .item-container.aqua-meat .drop-amount {
  color: #00e1e1;
}

.item-container.aquatic-soul svg, .item-container.aqua-meat svg {
  fill: #00e1e1;
}

.item-container.aquatic {
  background: #00e1e1;
}

.item-container.aquatic .item {
  background: #00e1e1;
}

.item-container.aquatic #name {
  color: #00e1e1;
}

.item-container.avian {
  background: #ff97b7;
}

.item-container.avian .item {
  background: #ff97b7;
}

.item-container.avian #name {
  color: #ff97b7;
}

.item-container.dinosaur {
  background: #ed6a5a;
}

.item-container.dinosaur .item {
  background: #ed6a5a;
}

.item-container.dinosaur #name {
  color: #ed6a5a;
}

.item-container.insect {
  background: #53dd6c;
}

.item-container.insect .item {
  background: #53dd6c;
}

.item-container.insect #name {
  color: #53dd6c;
}

.item-container.wildlife {
  background: #e09767;
}

.item-container.wildlife .item {
  background: #e09767;
}

.item-container.wildlife #name {
  color: #e09767;
}

.item-container.reptile {
  background: #02c39a;
}

.item-container.reptile .item {
  background: #02c39a;
}

.item-container.reptile #name {
  color: #02c39a;
}

.item-container.mythic {
  background: #d00000;
}

.item-container.mythic .item {
  background: #d00000;
}

.item-container.mythic #name {
  color: #d00000;
}

.item-container.legendary {
  background: orangered;
}

.item-container.legendary .item {
  background: orangered;
}

.item-container.legendary #name {
  color: orangered;
}

.item-container.epic {
  background: purple;
}

.item-container.epic .item {
  background: purple;
}

.item-container.epic #name {
  color: purple;
}

.item-container.rare {
  background: blue;
}

.item-container.rare .item {
  background: blue;
}

.item-container.rare #name {
  color: blue;
}

.item-container.uncommon {
  background: green;
}

.item-container.uncommon .item {
  background: green;
}

.item-container.uncommon #name {
  color: green;
}

.item-container.common {
  background: #555;
}

.item-container.common .item {
  background: #555;
}

.item-container.common #name {
  color: #555;
}

.credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.credits .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 30px 30px 0;
  overflow-y: scroll;
}

.credits .content::-webkit-scrollbar {
  display: none;
}

.credits .content .icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 180px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 30px;
  overflow-y: scroll;
}

.credits .content .icons::-webkit-scrollbar {
  width: 10px;
}

.credits .content .icons::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

.credits .content .icons::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

.credits .content .icons::-webkit-scrollbar-button {
  display: none;
}

.credits .content .icons.menu0 svg {
  width: 100% !important;
  height: 100% !important;
}

.credits .content .icons .icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.credits .content .icons .icon-item .name {
  font-size: 18px;
}

.credits .content .icons .icon-item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  margin-top: 15px;
}

.credits .content .icons .icon-item .icon svg {
  width: 70%;
  height: 70%;
  fill: white;
}

.credits .content .icons .icon-item .link {
  width: 70px;
  padding: 5px 0;
  text-align: center;
  margin-top: 15px;
}

.credits .content .credits-sidemenu {
  display: block;
  margin: 0;
}

.credits .content .credits-sidemenu.active {
  display: block;
}

.menu {
  display: none !important;
  margin-top: 20px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.menu.active {
  display: block !important;
}

.menu .menu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu .menu-items .menu-item {
  padding: 13px 0;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.menu .menu-items .menu-item:hover {
  background: white;
}

.menu .menu-items .menu-item:hover p {
  color: black;
}

.menu .menu-items .menu-item.active {
  background: white;
}

.menu .menu-items .menu-item.active p {
  color: black;
}

.menu .menu-items .menu-item p {
  text-align: center;
}

.rarity-menu, .credits-sidemenu {
  width: 150px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 30px auto 0 auto;
  border: 1px white solid;
}

.rarity-menu .menu-items, .credits-sidemenu .menu-items {
  display: block;
}

.rarity-menu .menu-items .menu-item, .credits-sidemenu .menu-items .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px white solid;
}

.rarity-menu .menu-items .menu-item:first-child, .credits-sidemenu .menu-items .menu-item:first-child {
  margin-top: -1px;
}

.rarity-menu .menu-items .menu-item:last-child, .credits-sidemenu .menu-items .menu-item:last-child {
  border-bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body, * html {
  overflow-x: hidden;
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */