.bold {
  font-weight: bold;
}

.coloured {
  color: orangered;
}

.stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stat-container p:nth-child(2) {
  margin-left: 10px;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: auto;
  background: black;
}

@media (max-width: 500px) {
  .page-wrapper {
    min-width: auto;
    max-width: auto;
    overflow-x: scroll;
  }
}

@media (max-height: 300px) {
  .page-wrapper {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll !important;
  }
  .page-wrapper .content-container {
    height: 100%;
  }
  .page-wrapper .content-container .side-menu, .page-wrapper .content-container .main-content {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .page-wrapper {
    display: block;
  }
}

.page-wrapper .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px white solid;
  height: 600px;
}

@media (max-height: 300px) {
  .page-wrapper .content-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

.page-wrapper .content-container .main-content {
  position: relative;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 500px) {
  .page-wrapper .content-container .main-content {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

.side-menu {
  width: 300px;
  height: 100%;
  border-right: 1px white solid;
}

@media (max-width: 500px) {
  .side-menu {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  .side-menu {
    min-width: 25%;
    max-width: 25%;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .side-menu {
    min-width: 25%;
    max-width: 25%;
  }
}

.side-menu .character-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

.side-menu .character-info .character-icon {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 5px;
}

.side-menu .character-info .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  margin-left: 10px;
}

.side-menu .character-info .level-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side-menu .character-info .level-container .xp-bar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: white;
  height: 10px;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  border-radius: 5px;
}

.side-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-bottom: 1px white solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.side-menu .nav-link:not(.locked):hover {
  background: white;
}

.side-menu .nav-link:not(.locked):hover p {
  color: black;
}

.side-menu .nav-link:not(.locked):hover .link-icon.active svg {
  fill: black;
}

.side-menu .nav-link.locked {
  cursor: default;
}

.side-menu .nav-link.locked p {
  color: #444;
}

.side-menu .nav-link .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side-menu .nav-link .link-icon.active svg {
  fill: white;
}

.side-menu .nav-link .link-icon svg {
  width: 18px;
  height: 18px;
  fill: #444;
}

@media (max-width: 768px) {
  .side-menu .nav-link {
    padding: 8px 0 8px 12px;
  }
}

.battle-section {
  height: 100vh;
  overflow: hidden !important;
  background: black;
}

.battle-section .characters {
  width: 100%;
  padding: 120px 150px 0 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .battle-section .characters {
    padding: 120px 40px 0 40px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .battle-section .characters {
    padding: 120px 50px 0 50px;
  }
}

.battle-section .characters .character-container {
  position: relative;
  width: 250px;
  height: 400px;
  background: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container {
    width: 125px;
    height: 200px;
  }
}

.battle-section .characters .character-container .top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 42%;
  background: black;
}

.battle-section .characters .character-container .top svg {
  width: 75%;
  height: 75%;
  fill: white;
}

.battle-section .characters .character-container .top .floating-damage {
  position: absolute;
  bottom: 70px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: white !important;
  font-weight: bold;
  -webkit-animation: floatOut 1.3s linear forwards;
          animation: floatOut 1.3s linear forwards;
}

.battle-section .characters .character-container .top .floating-damage.crit::before {
  content: '!! ';
}

.battle-section .characters .character-container .top .floating-damage.crit::after {
  content: ' !!';
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .top .floating-damage {
    bottom: 35px;
    font-size: 8px;
    -webkit-animation: floatOutMobile 1.3s linear forwards;
            animation: floatOutMobile 1.3s linear forwards;
  }
}

@-webkit-keyframes floatOut {
  0% {
    bottom: 70px;
  }
  75% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes floatOut {
  0% {
    bottom: 70px;
  }
  75% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 130px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes floatOutMobile {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes floatOutMobile {
  0% {
    bottom: 30px;
  }
  75% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 1;
  }
  100% {
    bottom: 60px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.battle-section .characters .character-container .info {
  height: 16%;
}

.battle-section .characters .character-container .info .name {
  height: 45%;
  text-align: center;
  color: white;
}

.battle-section .characters .character-container .info .name.boss {
  color: darkred;
  font-weight: bold;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .info .name {
    font-size: 10px;
  }
}

.battle-section .characters .character-container .info .hp {
  position: relative;
  height: 55%;
}

.battle-section .characters .character-container .info .hp .hp-current {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #dc0000;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.battle-section .characters .character-container .info .hp .hp-max {
  width: 100%;
  height: 100%;
  background: #4b0000;
}

.battle-section .characters .character-container .info .hp .hp-value {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 10;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .info .hp .hp-value {
    font-size: 10px;
  }
}

.battle-section .characters .character-container .stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 42%;
  padding: 15px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .stats {
    padding: 3px;
    padding-bottom: 3px;
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .stats ul {
    margin-top: 5px;
  }
}

.battle-section .characters .character-container .stats ul .stat-container {
  padding: 2px 0;
}

.battle-section .characters .character-container .stats ul .stat-container.boss p {
  color: orangered !important;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .stats ul .stat-container {
    padding: 1px 0;
  }
}

.battle-section .characters .character-container .stats ul .stat-container p:nth-child(2) {
  margin-left: 13px;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .stats ul .stat-container p:nth-child(2) {
    margin-left: 3px;
  }
}

.battle-section .characters .character-container .forfeit-container {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: -71px;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .forfeit-container {
    right: -42px;
  }
}

.battle-section .characters .character-container .forfeit-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: black;
  border: 1px white solid;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.battle-section .characters .character-container .forfeit-container a:hover {
  border: 1px orangered solid;
  color: orangered;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .forfeit-container a {
    width: 25px;
    height: 25px;
    font-size: 8px;
  }
}

.battle-section .characters .character-container .actions {
  position: absolute;
  top: 0;
  right: -130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 100%;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .actions {
    right: -70px;
  }
}

.battle-section .characters .character-container .actions .melee-column, .battle-section .characters .character-container .actions .ranged-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.battle-section .characters .character-container .actions .melee-column .action, .battle-section .characters .character-container .actions .ranged-column .action {
  margin-bottom: 10px;
}

.battle-section .characters .character-container .actions .melee-column .action:hover .hit_chance, .battle-section .characters .character-container .actions .ranged-column .action:hover .hit_chance {
  display: block !important;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .actions .melee-column .action, .battle-section .characters .character-container .actions .ranged-column .action {
    margin-bottom: 5px;
  }
}

.battle-section .characters .character-container .actions .melee-column .action button, .battle-section .characters .character-container .actions .ranged-column .action button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  background: black;
  border: 1px white solid;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.battle-section .characters .character-container .actions .melee-column .action button:last-child, .battle-section .characters .character-container .actions .ranged-column .action button:last-child {
  margin-bottom: 0;
}

.battle-section .characters .character-container .actions .melee-column .action button:hover, .battle-section .characters .character-container .actions .ranged-column .action button:hover {
  border: 1px orangered solid;
}

.battle-section .characters .character-container .actions .melee-column .action button:hover .hit_chance, .battle-section .characters .character-container .actions .ranged-column .action button:hover .hit_chance {
  border: 1px orangered solid;
}

.battle-section .characters .character-container .actions .melee-column .action button:hover p, .battle-section .characters .character-container .actions .ranged-column .action button:hover p {
  color: orangered;
}

.battle-section .characters .character-container .actions .melee-column .action button:hover svg path, .battle-section .characters .character-container .actions .ranged-column .action button:hover svg path {
  fill: orangered;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .actions .melee-column .action button, .battle-section .characters .character-container .actions .ranged-column .action button {
    width: 25px;
    height: 25px;
    font-size: 8px;
  }
}

.battle-section .characters .character-container .actions .melee-column .action button .icon, .battle-section .characters .character-container .actions .ranged-column .action button .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.battle-section .characters .character-container .actions .melee-column .action button .icon#mm, .battle-section .characters .character-container .actions .ranged-column .action button .icon#mm {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.battle-section .characters .character-container .actions .melee-column .action button .icon#ms, .battle-section .characters .character-container .actions .ranged-column .action button .icon#ms {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.battle-section .characters .character-container .actions .melee-column .action button .icon svg, .battle-section .characters .character-container .actions .ranged-column .action button .icon svg {
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .actions .melee-column .action button .icon svg, .battle-section .characters .character-container .actions .ranged-column .action button .icon svg {
    width: 16px;
    height: 16px;
  }
}

.battle-section .characters .character-container .actions .melee-column .action button .hit_chance, .battle-section .characters .character-container .actions .ranged-column .action button .hit_chance {
  display: none !important;
  position: absolute;
  top: -40px;
  right: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 50px;
  background: black;
  border: 1px white solid;
  z-index: 100;
}

.battle-section .characters .character-container .actions .melee-column .action button .hit_chance p:first-child, .battle-section .characters .character-container .actions .ranged-column .action button .hit_chance p:first-child {
  padding-top: 8px;
}

.battle-section .characters .character-container .actions .melee-column .action button .hit_chance p:nth-child(2), .battle-section .characters .character-container .actions .ranged-column .action button .hit_chance p:nth-child(2) {
  margin-left: 5px;
}

.battle-section .characters .character-container .actions .melee-column {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .battle-section .characters .character-container .actions .melee-column {
    margin-right: 5px;
  }
}

.battle-section .game-over {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 350px;
  height: 155px;
  background: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .battle-section .game-over {
    bottom: 10%;
    width: 175px;
    height: 80px;
  }
}

.battle-section .game-over .end-text {
  margin-top: 7px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}

@media (max-width: 768px) {
  .battle-section .game-over .end-text {
    padding-top: 4px;
    font-size: 10px;
  }
}

.battle-section .game-over .reward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  padding: 0 30px;
}

@media (max-width: 768px) {
  .battle-section .game-over .reward {
    margin-top: 7px;
    padding: 0 30px 0 15px;
  }
}

.battle-section .game-over .reward .left li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.battle-section .game-over .reward .left li p {
  margin-bottom: 2px;
}

.battle-section .game-over .reward .left li p:last-child {
  margin-left: 12px;
}

@media (max-width: 768px) {
  .battle-section .game-over .reward .left li p {
    margin-bottom: 1px;
    font-size: 8px;
  }
}

.battle-section .game-over .reward .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.battle-section .game-over .reward .right .item-container {
  margin-left: 5px;
}

.battle-section .game-over .reward .right .item-container:first-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .battle-section .game-over .reward .right .item-container .stats {
    margin-bottom: 30px;
  }
}

.battle-section .game-over .confirm-btn {
  display: block;
  width: 80px;
  margin: 10px auto 0 auto;
  padding: 5px 0;
  background: black;
  color: white;
  text-align: center;
  border: 1px white solid;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.battle-section .game-over .confirm-btn:hover {
  color: orangered;
  border: 1px orangered solid;
}

@media (max-width: 768px) {
  .battle-section .game-over .confirm-btn {
    width: 60px;
    margin-top: 5px;
    padding: 2px 0;
    font-size: 10px;
  }
}

#enemy.avian {
  border-color: #ff97b7;
}

#enemy.avian svg {
  fill: #ff97b7;
}

#enemy.avian p:not(.hp-value) {
  color: #ff97b7;
}

#enemy.avian .hp-current {
  background: #ff97b7;
}

#enemy.avian .hp-max {
  background: #cb4b82;
}

#enemy.dinosaur {
  border-color: #ed6a5a;
}

#enemy.dinosaur svg {
  fill: #ed6a5a;
}

#enemy.dinosaur p:not(.hp-value) {
  color: #ed6a5a;
}

#enemy.dinosaur .hp-current {
  background: #ed6a5a;
}

#enemy.dinosaur .hp-max {
  background: #931e10;
}

#enemy.insect {
  border-color: #53dd6c;
}

#enemy.insect svg {
  fill: #53dd6c;
}

#enemy.insect p:not(.hp-value) {
  color: #53dd6c;
}

#enemy.insect .hp-current {
  background: #53dd6c;
}

#enemy.insect .hp-max {
  background: #197e2b;
}

#enemy.wildlife {
  border-color: #e09767;
}

#enemy.wildlife svg {
  fill: #e09767;
}

#enemy.wildlife p:not(.hp-value) {
  color: #e09767;
}

#enemy.wildlife .hp-current {
  background: #e09767;
}

#enemy.wildlife .hp-max {
  background: #8a5a44;
}

#enemy.reptile {
  border-color: #02c39a;
}

#enemy.reptile svg {
  fill: #02c39a;
}

#enemy.reptile p:not(.hp-value) {
  color: #02c39a;
}

#enemy.reptile .hp-current {
  background: #02c39a;
}

#enemy.reptile .hp-max {
  background: #00614d;
}

#enemy.aquatic {
  border-color: #00e1e1;
}

#enemy.aquatic svg {
  fill: #00e1e1;
}

#enemy.aquatic p:not(.hp-value) {
  color: #00e1e1;
}

#enemy.aquatic .hp-current {
  background: #00e1e1;
}

#enemy.aquatic .hp-max {
  background: #007f7f;
}

.classic-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.classic-game .heading {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.classic-game .reroll-enemies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 13px 40px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.classic-game .reroll-enemies .right .reroll-btn {
  padding: 10px 8px;
  border: 1px black solid;
  background: white;
  color: black;
  height: 100%;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.classic-game .reroll-enemies .right .reroll-btn.active {
  background: black;
  color: white;
  border-color: white;
}

.classic-game .reroll-enemies .right .reroll-btn.active:hover {
  background: white;
  color: black;
}

.classic-game .enemies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.dungeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.dungeon .heading {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.dungeon .dungeon-menu {
  margin-top: 20px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.dungeon .dungeon-menu .menu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dungeon .dungeon-menu .menu-items .menu-item {
  width: auto;
  padding: 13px 0;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.dungeon .dungeon-menu .menu-items .menu-item:hover {
  background: white;
}

.dungeon .dungeon-menu .menu-items .menu-item:hover p {
  color: black;
}

.dungeon .dungeon-menu .menu-items .menu-item.active {
  background: white;
}

.dungeon .dungeon-menu .menu-items .menu-item.active p {
  color: black;
}

.dungeon .dungeon-menu .menu-items .menu-item p {
  text-align: center;
}

.dungeon .boss-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.enemy-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 330px;
  border: 1px white solid;
}

.enemy-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 14px;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px white solid;
}

.enemy-card .top .info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.enemy-card .top .info-btn svg {
  width: 14px;
  height: 14px;
}

.enemy-card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px white solid;
  height: 170px;
}

.enemy-card .icon svg {
  width: 100px;
  height: 100px;
  fill: white;
}

.enemy-card .bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.enemy-card .bottom .drop-container, .enemy-card .bottom .attack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

.enemy-card .bottom .drop-container svg, .enemy-card .bottom .attack-container svg {
  width: 75%;
  height: 75%;
}

.enemy-card .bottom .drop-container .drop-name, .enemy-card .bottom .drop-container .attack-warning, .enemy-card .bottom .attack-container .drop-name, .enemy-card .bottom .attack-container .attack-warning {
  display: none;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.enemy-card .bottom .drop-container .drop-name.active, .enemy-card .bottom .drop-container .attack-warning.active, .enemy-card .bottom .attack-container .drop-name.active, .enemy-card .bottom .attack-container .attack-warning.active {
  display: block;
}

.enemy-card .bottom .drop-container {
  background: #555;
}

.enemy-card .bottom .drop-container:hover .drop-name {
  display: block;
}

.enemy-card .bottom .attack-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 15px;
}

.enemy-card .bottom .attack-container:not(.active) svg {
  fill: white !important;
}

.enemy-card .bottom .attack-container:hover .attack-warning {
  display: block;
}

.enemy-card .bottom .attack-container svg {
  width: 100%;
  height: 100%;
}

.enemy-card .bottom .attack-container .attack-warning {
  color: white;
}

.enemy-card .info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.enemy-card .info.active {
  display: block;
}

.enemy-card .info .info-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.enemy-card .info .info-container .hide-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.enemy-card .info .info-container .hide-btn svg {
  width: 16px;
  height: 16px;
}

.enemy-card .info .info-container .name {
  padding-top: 45px;
}

.enemy-card .info .info-container .name p {
  font-weight: bold;
  text-align: center;
}

.enemy-card .info .info-container .stats {
  padding: 25px 20px 10px 20px;
}

.enemy-card.avian svg {
  fill: #ff97b7 !important;
}

.enemy-card.avian p {
  color: #ff97b7;
}

.enemy-card.avian .top, .enemy-card.avian .icon, .enemy-card.avian {
  border-color: #ff97b7;
}

.enemy-card.dinosaur svg {
  fill: #ed6a5a !important;
}

.enemy-card.dinosaur p {
  color: #ed6a5a;
}

.enemy-card.dinosaur .top, .enemy-card.dinosaur .icon, .enemy-card.dinosaur {
  border-color: #ed6a5a;
}

.enemy-card.insect svg {
  fill: #53dd6c !important;
}

.enemy-card.insect p {
  color: #53dd6c;
}

.enemy-card.insect .top, .enemy-card.insect .icon, .enemy-card.insect {
  border-color: #53dd6c;
}

.enemy-card.wildlife svg {
  fill: #e09767 !important;
}

.enemy-card.wildlife p {
  color: #e09767;
}

.enemy-card.wildlife .top, .enemy-card.wildlife .icon, .enemy-card.wildlife {
  border-color: #e09767;
}

.enemy-card.reptile svg {
  fill: #02c39a !important;
}

.enemy-card.reptile p {
  color: #02c39a;
}

.enemy-card.reptile .top, .enemy-card.reptile .icon, .enemy-card.reptile {
  border-color: #02c39a;
}

.enemy-card.aquatic svg {
  fill: #00e1e1 !important;
}

.enemy-card.aquatic p {
  color: #00e1e1;
}

.enemy-card.aquatic .top, .enemy-card.aquatic .icon, .enemy-card.aquatic {
  border-color: #00e1e1;
}

.inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.inventory .top {
  width: 80% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 0 auto;
}

@media (max-width: 768px) {
  .inventory .top {
    width: 95% !important;
    margin: 10px auto 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .top {
    width: 90% !important;
  }
}

.inventory .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inventory .top .left .current_equipment {
  background: black;
  border: 1px white solid;
}

.inventory .top .left .current_equipment .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .inventory .top .left .current_equipment .wrapper {
    padding: 3px;
  }
}

.inventory .top .left .current_equipment .wrapper ul li {
  margin: 0 0 5px 0;
}

@media (max-width: 768px) {
  .inventory .top .left .current_equipment .wrapper ul li {
    margin: 0 0 2px 0;
  }
}

.inventory .top .left .current_equipment .wrapper ul li:last-child {
  margin-bottom: 0;
}

.inventory .top .left .current_equipment ul:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .top .left .current_equipment ul:first-child {
    margin-right: 2px;
  }
}

.inventory .top .left .player_stats {
  min-width: 130px;
  margin-top: 10px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .inventory .top .left .player_stats {
    min-width: 70px;
    margin: 5px 10px 0 10px;
    font-size: 10px;
  }
}

.inventory .top .left .player_stats .wrapper hr {
  border: 1px white solid;
  margin-bottom: 5px;
}

.inventory .top .left .player_stats .wrapper ul li {
  padding: 0 3px;
}

.inventory .top .right .items_container {
  position: relative;
  background: black;
  border: 1px white solid;
}

.inventory .top .right .items_container .wrapper {
  padding: 10px;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .wrapper {
    padding: 3px;
  }
}

.inventory .top .right .items_container .wrapper .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventory .top .right .items_container .wrapper .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inventory .top .right .items_container .wrapper .items ul li {
  margin: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .wrapper .items ul li {
    margin: 0 2px 2px 0;
  }
}

.inventory .top .right .items_container .wrapper .items ul li:last-child {
  margin-right: 0;
}

.inventory .top .right .items_container .options {
  position: absolute;
  right: -10px;
  bottom: -60px;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options {
    bottom: -32px;
    right: -2px;
  }
}

.inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
  width: 80px;
  padding: 8px 0;
  background: white;
  color: black;
  border: 1px white solid;
}

.inventory .top .right .items_container .options .equip_btn:hover, .inventory .top .right .items_container .options .sell_btn:hover {
  background: white;
  color: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
    width: 40px;
    padding: 3px 0;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
    width: 80px;
    padding: 8px 0;
  }
}

.inventory .top .right .items_container .options .equip_btn {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options .equip_btn {
    margin-right: 7px;
  }
}

.inventory .top .right .items_container .options .equip_btn.active, .inventory .top .right .items_container .options .sell_btn.active {
  background: black;
  color: white;
  border: 1px white solid;
}

.inventory .top .right .items_container .options .equip_btn.active:hover, .inventory .top .right .items_container .options .sell_btn.active:hover {
  color: orangered;
  border: 1px orangered solid;
}

.inventory .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80% !important;
  margin: 60px auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .inventory .bottom {
    width: 95% !important;
    margin: 10px auto 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .bottom {
    width: 90% !important;
    margin: 20px auto 0 auto;
  }
}

.inventory .bottom .shop_container {
  width: 200px;
  height: 112px !important;
  background: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container {
    width: 110px;
    height: 70px !important;
  }
}

.inventory .bottom .shop_container .wrapper {
  padding: 10px;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper {
    padding: 5px;
  }
}

.inventory .bottom .shop_container .wrapper .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inventory .bottom .shop_container .wrapper .items ul li {
  margin: 0 5px 0 0;
}

.inventory .bottom .shop_container .wrapper .items ul li:last-child {
  margin-right: 0;
}

.inventory .bottom .shop_container .wrapper .options {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options {
    margin-top: 5px;
  }
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
  width: 62px;
  padding: 10px 0;
  background: white;
  color: black;
  border: 1px white solid;
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn:hover, .inventory .bottom .shop_container .wrapper .options .buy_btn:hover {
  background: white;
  color: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
    width: 43px;
    padding: 5px 0;
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
    width: 62px;
    padding: 10px 0;
  }
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn.active, .inventory .bottom .shop_container .wrapper .options .buy_btn.active {
  background: black;
  color: white;
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn.active:hover, .inventory .bottom .shop_container .wrapper .options .buy_btn.active:hover {
  color: orangered;
  border: 1px orangered solid;
}

.inventory .bottom .shop_container .wrapper .options button:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options button:first-child {
    margin-right: 5px;
  }
}

.crafting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.crafting .heading {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.crafting .level-menu, .crafting .dungeon-menu {
  margin-top: 20px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.crafting .level-menu .menu-items, .crafting .dungeon-menu .menu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.crafting .level-menu .menu-items .menu-item, .crafting .dungeon-menu .menu-items .menu-item {
  width: auto;
  padding: 15px 0;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.crafting .level-menu .menu-items .menu-item:hover, .crafting .dungeon-menu .menu-items .menu-item:hover {
  background: white;
}

.crafting .level-menu .menu-items .menu-item:hover p, .crafting .dungeon-menu .menu-items .menu-item:hover p {
  color: black;
}

.crafting .level-menu .menu-items .menu-item.active, .crafting .dungeon-menu .menu-items .menu-item.active {
  background: white;
}

.crafting .level-menu .menu-items .menu-item.active p, .crafting .dungeon-menu .menu-items .menu-item.active p {
  color: black;
}

.crafting .level-menu .menu-items .menu-item p, .crafting .dungeon-menu .menu-items .menu-item p {
  text-align: center;
}

.crafting .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.crafting .content .explanations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.crafting .content .explanations p {
  margin-bottom: 25px;
  font-weight: bold;
  text-align: center;
}

.crafting .content .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 276px;
  margin: 0 auto;
}

.crafting .content .middle-container .player-drops {
  margin: 30px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .player-drops ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .player-drops ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craftable-items {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .craftable-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .craftable-items ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craftable-items ul .item-container .item {
  width: 40px;
  height: 40px;
}

.crafting .content .middle-container .drops-needed {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .drops-needed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .drops-needed ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craft-btn {
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 90px;
  padding: 8px 0;
  -webkit-transition: 500ms all;
  transition: 500ms all;
  background: white;
  color: black;
  border: 1px black solid;
}

.crafting .content .middle-container .craft-btn.active:hover {
  background: white;
  color: black;
}

.crafting .content .middle-container .craft-btn.active {
  background: black;
  color: white;
  border-color: white;
}

.crafting .content .rarity-menu-container .rarity-menu {
  width: 150px;
  margin: 30px auto 0 auto;
  border: 1px white solid;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px white solid;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:first-child {
  margin-top: -1px;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:last-child {
  border-bottom: 0;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:hover {
  background: white;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:hover p {
  color: black;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item.active {
  background: white;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item.active p {
  color: black;
}

.item-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  background: #999;
  border: 1px black solid;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.item-container.selected {
  background: white !important;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .item-container {
    width: 26px;
    height: 26px;
  }
}

.item-container .item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 37px;
  cursor: pointer;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  outline: 0;
}

.item-container .item:hover .stats {
  display: block;
}

@media (max-width: 768px) {
  .item-container .item {
    width: 23px;
    height: 23px;
  }
}

.item-container .item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

@media (max-width: 768px) {
  .item-container .item svg {
    width: 18px;
    height: 18px;
  }
}

.item-container .item .drop-amount {
  position: absolute;
  bottom: -2px;
  right: 1px;
  color: white;
  font-size: 13px;
}

@media (max-width: 768px) {
  .item-container .item .drop-amount {
    bottom: 0;
    font-size: 8px;
  }
}

.item-container .item .stats {
  display: none;
  min-width: 200px;
  margin-bottom: -15px;
  margin-left: 320px;
  padding: 10px 15px;
  background: black;
  border: 1px white solid;
  color: white;
  z-index: 100;
  text-align: left;
  font-size: 14px;
}

@media (max-width: 768px) {
  .item-container .item .stats {
    min-width: 150px;
    margin-left: 210px;
    font-size: 10px;
    padding: 5px;
  }
}

.item-container .item .stats .bonus-container, .item-container .item .stats .stat-container, .item-container .item .stats .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-container .item .stats .stat-container p {
  font-weight: bold;
}

.item-container .item .stats .bonuses .bonus-container {
  margin-top: 1px;
}

.item-container .item .stats #name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 768px) {
  .item-container .item .stats #name {
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.item-container .item .stats #value {
  margin-top: 5px;
}

.item-container .item .stats #value #value-heading {
  font-weight: bold;
}

.item-container.drop {
  background: #555;
}

.item-container.drop .item {
  background: #555;
}

.item-container.drop.no-functionality .item {
  cursor: default !important;
}

.item-container.drop.has-amount svg {
  top: 40%;
  left: 40%;
}

.item-container.drop:not(.has-amount) svg {
  opacity: 0.4;
}

.item-container.avian-soul .stats, .item-container.feather .stats {
  border-color: #ff97b7;
}

.item-container.avian-soul #name, .item-container.feather #name {
  color: #ff97b7;
}

.item-container.avian-soul .drop-amount, .item-container.feather .drop-amount {
  color: #ff97b7;
}

.item-container.avian-soul svg, .item-container.feather svg {
  fill: #ff97b7;
}

.item-container.dinosaur-soul .stats, .item-container.fossil .stats {
  border-color: #ed6a5a;
}

.item-container.dinosaur-soul #name, .item-container.fossil #name {
  color: #ed6a5a;
}

.item-container.dinosaur-soul .drop-amount, .item-container.fossil .drop-amount {
  color: #ed6a5a;
}

.item-container.dinosaur-soul svg, .item-container.fossil svg {
  fill: #ed6a5a;
}

.item-container.insect-soul .stats, .item-container.poison .stats {
  border-color: #53dd6c;
}

.item-container.insect-soul #name, .item-container.poison #name {
  color: #53dd6c;
}

.item-container.insect-soul .drop-amount, .item-container.poison .drop-amount {
  color: #53dd6c;
}

.item-container.insect-soul svg, .item-container.poison svg {
  fill: #53dd6c;
}

.item-container.wildlife-soul .stats, .item-container.wildlife-leather .stats {
  border-color: #e09767;
}

.item-container.wildlife-soul #name, .item-container.wildlife-leather #name {
  color: #e09767;
}

.item-container.wildlife-soul .drop-amount, .item-container.wildlife-leather .drop-amount {
  color: #e09767;
}

.item-container.wildlife-soul svg, .item-container.wildlife-leather svg {
  fill: #e09767;
}

.item-container.reptile-soul .stats, .item-container.reptile-leather .stats {
  border-color: #02c39a;
}

.item-container.reptile-soul #name, .item-container.reptile-leather #name {
  color: #02c39a;
}

.item-container.reptile-soul .drop-amount, .item-container.reptile-leather .drop-amount {
  color: #02c39a;
}

.item-container.reptile-soul svg, .item-container.reptile-leather svg {
  fill: #02c39a;
}

.item-container.aquatic-soul .stats, .item-container.aqua-meat .stats {
  border-color: #00e1e1;
}

.item-container.aquatic-soul #name, .item-container.aqua-meat #name {
  color: #00e1e1;
}

.item-container.aquatic-soul .drop-amount, .item-container.aqua-meat .drop-amount {
  color: #00e1e1;
}

.item-container.aquatic-soul svg, .item-container.aqua-meat svg {
  fill: #00e1e1;
}

.item-container.aquatic {
  background: #00e1e1;
}

.item-container.aquatic .item {
  background: #00e1e1;
}

.item-container.aquatic #name {
  color: #00e1e1;
}

.item-container.avian {
  background: #ff97b7;
}

.item-container.avian .item {
  background: #ff97b7;
}

.item-container.avian #name {
  color: #ff97b7;
}

.item-container.dinosaur {
  background: #ed6a5a;
}

.item-container.dinosaur .item {
  background: #ed6a5a;
}

.item-container.dinosaur #name {
  color: #ed6a5a;
}

.item-container.insect {
  background: #53dd6c;
}

.item-container.insect .item {
  background: #53dd6c;
}

.item-container.insect #name {
  color: #53dd6c;
}

.item-container.wildlife {
  background: #e09767;
}

.item-container.wildlife .item {
  background: #e09767;
}

.item-container.wildlife #name {
  color: #e09767;
}

.item-container.reptile {
  background: #02c39a;
}

.item-container.reptile .item {
  background: #02c39a;
}

.item-container.reptile #name {
  color: #02c39a;
}

.item-container.mythic {
  background: #d00000;
}

.item-container.mythic .item {
  background: #d00000;
}

.item-container.mythic #name {
  color: #d00000;
}

.item-container.legendary {
  background: orangered;
}

.item-container.legendary .item {
  background: orangered;
}

.item-container.legendary #name {
  color: orangered;
}

.item-container.epic {
  background: purple;
}

.item-container.epic .item {
  background: purple;
}

.item-container.epic #name {
  color: purple;
}

.item-container.rare {
  background: blue;
}

.item-container.rare .item {
  background: blue;
}

.item-container.rare #name {
  color: blue;
}

.item-container.uncommon {
  background: green;
}

.item-container.uncommon .item {
  background: green;
}

.item-container.uncommon #name {
  color: green;
}

.item-container.common {
  background: #555;
}

.item-container.common .item {
  background: #555;
}

.item-container.common #name {
  color: #555;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body, * html {
  overflow-x: hidden;
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */