

// Variables
$item_bg: #999;
$item_selected_color: white;

$common: #555;
$uncommon: green;
$rare: blue;
$epic: purple;
$legendary: orangered;

$avian-color: rgb(255, 151, 183);
$dinosaur-color: rgb(237, 106, 90);
$insect-color: rgb(83, 221, 108);
$wildlife-color: rgb(224, 151, 103);
$reptile-color: rgb(2, 195, 154);
$aquatic-color: rgb(0, 225, 225);


@mixin menu_button {
    width: 150px;
    padding: 10px 0;
    background: black;
    color: white;
    border: 1px white solid;
    text-align: center;
    transition: all 500ms;
    &:hover {
        background: black;
        color: orangered;
        border: 1px orangered solid;
    }

    @include mobile {
        width: 80px;
        padding: 4px 0;
        font-size: 12px;
    }

    @include tablet {
        width: 135px;
        padding: 8px 0;
    }
}

// Media Queries

$extra-small-width: 500px;
$extra-small-height: 300px;
$mobile: 768px;
$tablet: 1200px;

// Everything in mobile mixin works here too, unless
// its overwritten. This media query ensures that everything
// is displayed correctly by allowing horizontal scroll, instead
// of trying to fit it into a whole screen.
@mixin extra-small-width {
    @media(max-width: #{$extra-small-width}) {
        @content;
    }
}

// Allows overflow-y on extra small height (under 300px)
@mixin extra-small-height {
    @media(max-height: #{$extra-small-height}) {
        @content;
    }
}

@mixin mobile {
    @media(max-width: #{$mobile}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile}) and (max-width: #{$tablet}) {
        @content;
    }
}

// Global Stylings

* {
    margin: 0;
    padding: 0;
    color: white;
    border-spacing: 0!important;
    box-sizing: border-box;

    body, html {
        overflow-x: hidden;
    }

    // Link Tag
    a {
        text-decoration: none;
        color: white;
    }

    // Li Tag
    li {
        list-style: none;
    }

    // Button
    button {
        outline: 0;
        border: 1px black solid;
        background: none;
        cursor: pointer;
    }

    // Bold Class
    .bold {
        font-weight: bold;
    }

    // Coloured Class
    .coloured {
        color: orangered;
    }

    // Stat Container
    .stat-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

        p:nth-child(2) {
            margin-left: 10px;
        }
    }

    // Loading
    .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: black;
        color: white;
    
        .circle-loading {
            width: 100px;
            height: 100px;
            border: 4px rgba(orangered, 0.25) solid;
            border-top: 4px rgba(orangered, 1) solid;
            border-radius: 50%;
            animation: loading 500ms infinite linear;
    
            @include tablet {
                width: 75px;
                height: 75px;
            }
    
            @include mobile {
                width: 50px;
                height: 50px;
            }
        }
    
        @keyframes loading {
            from { transform: rotate(0deg); }
            to { transform: rotate(359deg); }
        }
    }
    
    // Wrapper
    .page-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100vw;
        max-width: 100vw;
        min-height: 100vh;
        max-height: 100vh;
        width: auto;
        background: black;

        @include extra-small-width {
            min-width: auto;
            max-width: auto;
            overflow-x: scroll;
        }

        @include extra-small-height {
            min-height: 300px;
            max-height: 300px;
            overflow-y: scroll!important;
            .content-container {
                height: 100%;
                .side-menu, .main-content {
                    height: 100%;
                }
            }
        }

        @include mobile {
            display: block;
        }

        // Content Container
        .content-container {
            display: flex;
            border: 1px white solid;
            height: 600px;

            @include extra-small-height {
                min-height: 300px;
            }

            @include mobile {
                width: 100%;
                height: 100vh;
                border: none;
            }

            @include tablet {
                width: 100%;
                height: 100vh;
                border: none;
            }

            // Sidemenu
            .side-menu {
                width: 300px;
                height: 100%;
                border-right: 1px white solid;

                @include extra-small-width {
                    min-width: 130px;
                }

                @include mobile {
                    min-width: 25%;
                    max-width: 25%;
                    font-size: 10px;
                }

                @include tablet {
                    min-width: 25%;
                    max-width: 25%;
                }

                // Character Info
                .character-info {
                    display: none;
                    //border-bottom: 1px white solid;
                    padding: 10px;
                    &.active {
                        display: flex;
                    }

                    // Character Icon
                    .character-icon {
                        width: 50px;
                        height: 50px;
                        background: #ccc;
                        border-radius: 5px;
                    }
                    
                    // Level Container (everything next to the icon)
                    .level-container {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 100;
                        margin-left: 10px;

                        // Div for Name + Level on the left, Currency on the right
                        div {
                            display: flex;
                            justify-content: space-between;
                        }

                        // XP Bar
                        .xp-bar {
                            margin-top: 5px;
                            display: flex;
                            width: 100%;
                            background: white;
                            height: 10px;
                            flex-grow: 100;
                            border-radius: 5px;
                        }
                    }
                }

                // Links
                .nav-link {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px 20px;
                    border-bottom: 1px white solid;
                    transition: 200ms;
                    // Not Locked On Hover
                    &:not(.locked):hover {
                        p { color: black; }
                        background: white;
                        .link-icon.active {
                            svg {
                                fill: black;
                            }
                        }
                    }

                    // Locked Link
                    &.locked {
                        p {
                            color: #444;
                        }
                        cursor: default;
                    }

                    // Link Icon
                    .link-icon {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &.active {
                            svg {
                                fill: white;
                            }
                        }

                        svg {
                            width: 18px;
                            height: 18px;
                            fill: #444;
                        }
                    }

                    @include mobile {
                        padding: 8px 0 8px 12px;
                    }
                }
            }
      
            // Main Content
            .main-content {
                position: relative;
                width: 800px;
                height: 100%;
                box-sizing: border-box;
                background: black;

                @include extra-small-width {
                    min-width: 370px;
                }
    
                @include mobile {
                    min-width: 75%;
                    max-width: 75%;
                }
    
                @include tablet {
                    min-width: 75%;
                    max-width: 75%;
                }
            }
        }
    }
}