
// Actions
.actions {
    display: none;
    position: absolute;
    top: 0;
    left: $character-width-dt;
    width: 200px;
    padding-left: 30px;
    z-index: 10;
    &.active {
        display: block;
    }

    @include medium {
        left: $character-width-medium;
        padding-left: 20px;
    }

    @include small {
        left: $character-width-small;
        padding-left: 12px;
    }

    // Forfeit Button
    .forfeit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        margin-top: 20px;
        padding: 0;

        @include medium {
            width: 40px;
            height: 40px;
        }

        @include small {
            width: 30px;
            height: 30px;
            margin-top: 10px;
        }
    }

    // Columns Container
    .columns-container {
        display: flex;
        margin-top: 40px;

        // variables for calculating
        $action-size: 50px;
        $info-ml: 20px;
        $action-gap: 15px;

        $action-size-med: 40px;
        $info-ml-med: 15px;
        $action-gap-med: 10px;

        $action-size-small: 30px;
        $info-ml-small: 12px;
        $action-gap-small: 7px;

        @include medium {
            margin-top: 20px;
        }

        @include small {
            margin-top: 15px;
        }

        // Columns
        .melee-column, .ranged-column {
            display: flex;
            flex-direction: column;
    
            // Action Button
            .action-btn {
                position: relative;
                width: $action-size;
                height: $action-size;
                margin-top: $action-gap;
                padding: 0;
                &:first-child { margin-top: 0; } 
                &:hover {
                    border-color: white!important;
                    path { fill: black!important; }
                    .action-info {
                        display: block;
                    }
                }

                @include medium {
                    width: $action-size-med;
                    height: $action-size-med;
                    margin-top: $action-gap-med;
                }

                @include medium {
                    width: $action-size-small;
                    height: $action-size-small;
                    margin-top: $action-gap-small;
                }
                
                // Icon
                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    svg {
                        width: 70%;
                        height: 70%;
                    }
                }
    
                // Action Info (displays on hover)
                .action-info {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: calc(#{$action-size} + #{$info-ml});
                    padding: 12px;
                    width: max-content;
                    background: black;
                    border: 1px white solid;

                    @include medium {
                        left: calc(#{$action-size-med} + #{$info-ml-med});
                    }

                    @include small {
                        left: calc(#{$action-size-small} + #{$info-ml-small});
                        padding: 7px;
                    }

                    p {
                        color: white;

                        @include small {
                            font-size: 10px;
                        }
                    }

                    // Name
                    .name {
                        font-weight: bold;
                        text-align: center;
                    }

                    .hit-chance, .dmg {

                        @include small {
                            font-size: 8px;    
                        }
                    }

                    // Hit Chance
                    .hit-chance { 
                        margin-top: 10px; 

                        @include small {
                            margin-top: 3px;
                        }
                    }

                    // Min & Max Damage
                    .dmg { 
                        margin-top: 3px; 

                        @include small {
                            margin-top: 1px;
                        }
                    }
                }
            }
        }
    
        // Melee Column
        .melee-column {

            // rotate 2nd and 3rd icon
            .action-btn {
                &:nth-child(2) {
                    svg { transform: rotate(-45deg); }
                }
                &:nth-child(3) {
                    svg { transform: rotate(-90deg); }
                }
            }
            
            // calculate left so that it displays at same position as in ranged column
            .action-info {
                left: calc(2 * #{$action-size} + #{$action-gap} + #{$info-ml})!important;

                @include medium {
                   left: calc(2 * #{$action-size-med} + #{$action-gap-med} + #{$info-ml-med})!important; 
                }

                @include small {
                   left: calc(2 * #{$action-size-small} + #{$action-gap-small} + #{$info-ml-small})!important; 
                }
            }
        }
    
        // Ranged Column
        .ranged-column {
            margin-left: $action-gap;

            @include medium {
                margin-left: $action-gap-med;
            }

            @include small {
                margin-left: $action-gap-small;
            }
        }
    }
}

// Action Colored
.actions {

    // aquatic
    &.aquatic {
        .forfeit-btn, .action-btn, .action-info {
            border-color: $aquatic-color!important;
            .icon { path { fill: $aquatic-color!important; } }
            &.forfeit-btn { color: $aquatic-color; }
        }
    }

    // avian
    &.avian {
        .forfeit-btn, .action-btn, .action-info {
            border-color: $avian-color!important;
            .icon { path { fill: $avian-color!important; } }
            &.forfeit-btn { color: $avian-color; }
        }
    }

    // dinosaur
    &.dinosaur {
        .forfeit-btn, .action-btn, .action-info {
            border-color: $dinosaur-color!important;
            .icon { path { fill: $dinosaur-color!important; } }
            &.forfeit-btn { color: $dinosaur-color; }
        }
    }

    // insect
    &.insect {
        .forfeit-btn, .action-btn, .action-info {
            border-color: $insect-color!important;
            .icon { path { fill: $insect-color!important; } }
            &.forfeit-btn { color: $insect-color; }
        }
    }

    // wildlife
    &.wildlife {
        .forfeit-btn, .action-btn, .action-info {
            border-color: $wildlife-color!important;
            .icon { path { fill: $wildlife-color!important; } }
            &.forfeit-btn { color: $wildlife-color; }
        }
    }

    // reptile
    &.reptile {
        .forfeit-btn, .action-btn, .action-info {
            border-color: $reptile-color!important;
            .icon { path { fill: $reptile-color!important; } }
            &.forfeit-btn { color: $reptile-color; }
        }
    }

    // overwrite forfeit button
    .forfeit-btn:hover {
        border-color: white!important;
        color: black!important;
    }
}