
// Classic Game Section
.classic-game {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Reroll Enemies
    .reroll-enemies {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 13px 40px;
        border-top: 1px white solid;
        border-bottom: 1px white solid;

        // .reroll-timer {}

        // .reroll-btn {}
    }

    // Enemies
    .enemies {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0 40px;
        flex-grow: 1;
    }
}
