
// Classic Game Section
.classic-game {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Reroll Enemies
    .reroll-enemies {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 13px 40px;
        border-top: 1px white solid;
        border-bottom: 1px white solid;

        // .left {}

        // Right - Reroll Button
        .right {

            .reroll-btn {
                padding: 10px 8px;
                border: 1px black solid;
                background: white;
                color: black;
                height: 100%;
                transition: 500ms all;
                &.active {
                    background: black;
                    color: white;
                    border-color: white;
                }
                &.active:hover {
                    background: white;
                    color: black;
                }
            }
        }
    }

    // Enemies
    .enemies {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0 40px;
        flex-grow: 1;
    }
}
