
// Classic Game Section
.classic-game {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Reroll Enemies
    .reroll-enemies {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        padding: 13px 40px;
        border-top: 1px white solid;
        border-bottom: 1px white solid;

        @include medium {
            margin-top: 10px;
            padding: 7px 25px;
            font-size: 12px;
        }

        @include small {
            margin-top: 7px;
            padding: 5px 20px;
            font-size: 10px;
        }
        
        // .reroll-timer {}
        .reroll-btn {
            @include medium {
                font-size: 10px;
            }

            @include small {
                font-size: 8px;
                padding: 4px 0;
            }
        }
    }
    
    // Enemies
    .enemies {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        padding: 0 40px;
        flex-grow: 1;

        @include large {
            margin-top: 30px;
        }

        @include medium {
            margin-top: 15px;
            padding: 0 25px;
        }

        @include small {
            margin-top: 20px;
            padding: 0 20px;
        }
    }
}
