
// Crafting Section
.crafting {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Menu
    .level-menu, .dungeon-menu {
        margin-top: 20px;
        border-top: 1px white solid;
        border-bottom: 1px white solid;

        .menu-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-evenly;

            .menu-item {
                width: auto;
                padding: 15px 0;
                cursor: pointer;
                transition: 500ms all;

                &:hover {
                    background: white;
                    p { color: black; }
                }
                &.active {
                    background: white;
                    p { color: black; }
                }

                p {
                    text-align: center;
                }
            }
        }
    }

    // Content
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        // Explanations
        .explanations {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p {
                margin-bottom: 25px;
                font-weight: bold;
                text-align: center;
            }
        }

        // Middle Container
        .middle-container {
            display: flex;
            flex-direction: column;
            width: 276px;
            margin: 0 auto;
    
            // Players Drops
            .player-drops {
                margin: 30px auto 0 auto;
                padding: 5px;
                border: 1px white solid;
                
                // Item Row
                ul {
                    display: flex;
        
                    // Item
                    .item-container {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        
            // Craftable Items
            .craftable-items {
                margin: 20px auto 0 auto;
                padding: 5px;
                border: 1px white solid;
        
                ul {
                    display: flex;
        
                    .item-container {
                        width: 44px;
                        height: 44px;
        
                        .item {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        
            // Craft Section
            .drops-needed {
                margin: 20px auto 0 auto;
                padding: 5px;
                border: 1px white solid;
        
                ul {
                    display: flex;
        
                    .item-container {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        
            // Craft Button    
            .craft-btn {
                margin-top: 20px;
                align-self: flex-end;
                width: 90px;
                padding: 8px 0;
                transition: 500ms all;
                background: white;
                color: black;
                border: 1px black solid;
                
        
                &.active:hover {
                    background: white;
                    color: black;
                }
                
                &.active {
                    background: black;
                    color: white;
                    border-color: white;
                }
            }
        }

        // Rarity Menu
        .rarity-menu-container {

            .rarity-menu {
                width: 150px;
                margin: 30px auto 0 auto;
                border: 1px white solid;

                .menu-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 1px white solid;
                    cursor: pointer;
                    transition: 500ms all;

                    // fix white space between border and item
                    // don't know why this happens
                    &:first-child { margin-top: -1px; }

                    &:last-child {
                        border-bottom: 0;
                    }

                    &:hover {
                        background: white;
                        p { color: black; }
                    }

                    &.active {
                        background: white;
                        p { color: black; }
                    }
                }
            }
        }
    }
}