
// Crafting Section
.crafting {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Content
    .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        // Explanations
        .explanations {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            p {
                margin-bottom: 25px;
                font-weight: bold;
                text-align: center;
            }
        }

        // Middle Container
        .middle-container {
            display: flex;
            flex-direction: column;
            width: 276px;
            margin: 0 auto;
    
            // Players Drops
            .player-drops {
                margin: 30px auto 0 auto;
                padding: 5px;
                border: 1px white solid;
                
                // Item Row
                ul {
                    display: flex;
        
                    // Item
                    .item-container {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        
            // Craftable Items
            .craftable-items {
                margin: 20px auto 0 auto;
                padding: 5px;
                border: 1px white solid;
        
                ul {
                    display: flex;
        
                    .item-container {
                        width: 44px;
                        height: 44px;
        
                        .item {
                            width: 40px;
                            height: 40px;
                        }
                    }
                }
            }
        
            // Craft Section
            .drops-needed {
                margin: 20px auto 0 auto;
                padding: 5px;
                border: 1px white solid;
        
                ul {
                    display: flex;
        
                    .item-container {
                        width: 44px;
                        height: 44px;
                    }
                }
            }
        
            // Craft Button    
            .craft-btn {
                margin-top: 20px;
                align-self: flex-end;
            }
        }
    }
}