
// Dungeon Section
.dungeon {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Boss Section
    .boss-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }
}