
// Enemy Card
.enemy-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 320px;
    border: 1px white solid;

    &.dungeon {
        height: 340px;

        @include large {
            height: 280px;
        }

        @include medium {
            width: 25%;
            height: 240px;
        }

        @include small {
            height: 180px;
        }
    }

    @include large {
        width: 30%;
        height: 280px;
    }

    @include medium {
        height: 240px;;
    }

    @include small {
        height: 180px;
    }
    
    // Top - Name (level) + Attack Button
    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px 5px 10px;
        border-bottom: 1px white solid;

        @include large {
            font-size: 14px;
        }

        @include medium {
            font-size: 12px;
        }

        @include small {
            font-size: 10px;
            padding: 3px 3px 3px 7px;   
        }

        // .name {}

        .info-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;

            @include large {
                width: 24px;
                height: 24px;
            }

            @include medium {
                width: 20px;
                height: 20px;
            }

            @include small {
                width: 16px;
                height: 16px;
            }

            svg {
                width: 14px;
                height: 14px;

                @include large {
                    width: 12px;
                    height: 12px;
                }

                @include medium {
                    width: 10px;
                    height: 10px;
                }

                @include small {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }

    // Icon
    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px white solid;
        height: 170px;

        @include large {
            height: 150px;
        }

        @include medium {
            height: 130px;
        }

        @include small {
            height: 100px;
        }

        svg {
            width: 100px;
            height: 100px;
            fill: white;

            @include large {
                width: 80px;
                height: 80px;
            }

            @include medium {
                width: 70px;
                height: 70px;
            }

            @include small {
                width: 55px;
                height: 55px;
            }
        }
    }

    // Bottom (Possible Drops & Attack Button)
    .bottom {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;

        // Drop & Attack Containers
        .drop-container, .attack-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;

            @include large {
                width: 40px;
                height: 40px;
            }

            @include medium {
                width: 35px;
                height: 35px;
            }

            @include small {
                width: 25px;
                height: 25px;
            }
            
            svg {
                width: 75%;
                height: 75%;
            }

            // Drop Name & Attack Warning - Displays On Hover
            .drop-name, .attack-warning {
                display: none;
                position: absolute;
                bottom: 3px;
                left: 50%;
                transform: translate(-50%, 0);
                width: 100%;
                text-align: center;
                font-size: 14px;
                &.active {
                    display: block;
                }

                @include large {
                    font-size: 12px;
                }

                @include medium {
                    font-size: 10px;
                }

                @include small {
                    font-size: 8px;
                }
            }
        }
        
        // Drop Container
        .drop-container {
            background: $common;
            &:hover {
                .drop-name {
                    display: block;
                }
            }
        }

        // Attack Container
        .attack-container {
            align-self: flex-start;
            margin-top: 15px;
            &:not(.active) {
                svg { fill: white!important; }
            }

            @include medium {
                margin-top: 10px;
            }

            @include small {
                margin-top: 7px;
            }

            &:hover {
                .attack-warning {
                    display: block;
                }
            }

            svg {
                width: 100%;
                height: 100%;
            }

            .attack-warning {
                color: white;
            }
        }
    }

    // Info - Shows when info button is clicked
    .info {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
        &.active {
            display: block;
        }

        // Info Container
        .info-container {
            position: relative;
            width: 100%;
            height: 100%;

            // Hide Button
            .hide-btn {
                position: absolute;
                top: 6px;
                right: 6px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
                svg {
                    width: 16px;
                    height: 16px;

                    @include medium {
                        width: 10px;
                        height: 10px;
                    }

                    @include small {
                        width: 8px;
                        height: 8px;
                    }
                }

                @include medium {
                    width: 22px;
                    height: 22px;
                }

                @include small {
                    top: 3px;
                    right: 3px;
                    width: 18px;
                    height: 18px;
                }
            }

            // Name (+ level)
            .name {
                padding-top: 45px;

                @include large {
                    padding-top: 35px;
                }

                @include medium {
                    padding-top: 25px;
                    font-size: 14px;
                }

                @include small {
                    font-size: 11px;
                }
                
                p {
                    font-weight: bold;
                    text-align: center;
                }
            }

            // Stats
            .stats {
                padding: 25px 20px 10px 20px;

                @include large {
                    padding-top: 20px;
                }

                @include medium {
                    padding-top: 15px;
                    font-size: 14px;
                }

                @include small {
                    padding: 10px 10px 10px 10px;
                    font-size: 10px;
                }
            }
        }
    }
}

// Species Colorized

.enemy-card.avian { 
    svg { fill: $avian-color!important; }
    p { color: $avian-color; }
    .top, .icon, & { border-color: $avian-color; }
}
.enemy-card.dinosaur { 
    svg { fill: $dinosaur-color!important; }
    p { color: $dinosaur-color; } 
    .top, .icon, & { border-color: $dinosaur-color; }
}
.enemy-card.insect { 
    svg { fill: $insect-color!important; }
    p { color: $insect-color; } 
    .top, .icon, & { border-color: $insect-color; }
}
.enemy-card.wildlife { 
    svg { fill: $wildlife-color!important; }
    p { color: $wildlife-color; } 
    .top, .icon, & { border-color: $wildlife-color; }
}
.enemy-card.reptile { 
    svg { fill: $reptile-color!important; }
    p { color: $reptile-color; } 
    .top, .icon, & { border-color: $reptile-color; }
}
.enemy-card.aquatic { 
    svg { fill: $aquatic-color!important; }
    p { color: $aquatic-color; } 
    .top, .icon, & { border-color: $aquatic-color; }
}