
// Game Page
.battle-section {
    height: 100vh;
    overflow: hidden!important;
    background: black;

    // Characters
    .characters {
        width: 100%;
        padding: 120px 150px 0 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile {
            padding: 120px 40px 0 40px;
        }

        @include tablet {
            padding: 120px 50px 0 50px;
        }

        // Character Container
        .character-container {
            position: relative;
            width: 250px;
            height: 400px;
            background: black;
            border: 1px white solid;

            @include mobile {
                width: 125px;
                height: 200px;
            }

            // Top (Img + Floating Damage)
            .top {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;    
                width: 100%;
                height: 42%;
                background: black;

                // Image (svg)
                svg {
                    width: 75%;
                    height: 75%;
                    fill: white;
                }

                // Floating Damage
                .floating-damage {
                    position: absolute;
                    bottom: 70px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    color: white!important;
                    font-weight: bold;
                    animation: floatOut 1.3s linear forwards;
                    &.crit::before {
                        content: '!! '
                    }

                    &.crit::after {
                        content: ' !!'
                    }
                    
                    @include mobile {
                        bottom: 35px;
                        font-size: 8px;
                        animation: floatOutMobile 1.3s linear forwards;
                    }
                }

                // Floating Damage Animation
                @keyframes floatOut {
                    0% {
                        bottom: 70px;
                    }
                    
                    75% {
                        bottom: 130px;
                        transform: scale(1.5);
                        opacity: 1;
                    }

                    100% {
                        bottom: 130px;
                        transform: scale(1.5);                            
                        opacity: 0;
                    }
                }

                // Animation For Mobile
                @keyframes floatOutMobile {
                    0% { bottom: 30px; }
                    75% {
                        bottom: 60px;
                        transform: scale(1.5);
                        opacity: 1;
                    }
                    100% {
                        bottom: 60px;
                        transform: scale(1.5);                            
                        opacity: 0;
                    }
                }

            }

            // Middle (Info - hp, name, level)
            .info {
                height: 16%;
                
                .name {
                    height: 45%;
                    text-align: center;
                    color: white;
                    &.boss {
                        color: darkred;
                        font-weight: bold;
                    }

                    @include mobile {
                        font-size: 10px;
                    }
                }
                
                .hp {
                    position: relative;
                    height: 55%;

                    .hp-current {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgb(220, 0, 0);
                        transition: 500ms all;
                    }

                    .hp-max {
                        width: 100%;
                        height: 100%;
                        background: rgb(75, 0, 0);
                    }

                    .hp-value {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: white;
                        z-index: 10;

                        @include mobile {
                            font-size: 10px;
                        }
                    }
                }

            }

            // Bottom (Stats)
            .stats {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                height: 42%;
                padding: 15px 15px;
                box-sizing: border-box;
                font-size: 14px;
                @include mobile {
                    padding: 3px;
                    padding-bottom: 3px;
                    font-size: 8px;
                }

                // Ul
                ul {
                    @include mobile { margin-top: 5px; }

                    // Stat Container (Li) 
                    .stat-container {
                        padding: 2px 0;
                        &.boss {
                            p { color: orangered!important; }
                        }
                        @include mobile { padding: 1px 0; }

                        p:nth-child(2) {
                            margin-left: 13px;
                            @include mobile { margin-left: 3px; }
                        }
                    }
                    // NOTE: .stat-container is styled in global file (style.sass),
                    // because it is used in multiple components
                }
            }

            // Forfeit Button
            .forfeit-container {
                z-index: 100;
                position: absolute;
                top: 10px;
                right: -71px;
                @include mobile {
                    right: -42px;
                }
                
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    background: black;
                    border: 1px white solid;
                    transition: 500ms all;
                    &:hover {
                        border: 1px orangered solid;
                        color: orangered;
                    }

                    @include mobile {
                        width: 25px;
                        height: 25px;
                        font-size: 8px;
                    }
                }
            }

            // Actions (attack options)
            .actions {
                position: absolute;
                top: 0;
                right: -130px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: auto;
                height: 100%;
                @include mobile {
                    right: -70px;
                }

                // Columns
                .melee-column, .ranged-column {
                    display: flex;
                    flex-direction: column;

                    // Action
                    .action {
                        margin-bottom: 10px;
                        &:hover {
                            .hit_chance {
                                display: block!important;
                            }
                        }

                        @include mobile {
                            margin-bottom: 5px;
                        }

                        // Button
                        button {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 50px;
                            height: 50px;
                            background: black;
                            border: 1px white solid;
                            transition: 500ms all;
                            &:last-child {
                                margin-bottom: 0;
                            }

                            &:hover {
                                border: 1px orangered solid;

                                .hit_chance { border: 1px orangered solid; }
                                p { color: orangered; }
                                svg {
                                    path {
                                        fill: orangered;
                                    }
                                }
                            }

                            @include mobile {
                                width: 25px;
                                height: 25px;
                                font-size: 8px;
                            }

                            // Icon
                            .icon {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                &#mm { transform: rotate(-45deg); }
                                &#ms { transform: rotate(-90deg); }

                                svg {
                                    width: 32px;
                                    height: 32px;

                                    @include mobile {
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                            }

                            // Hit Chance Box
                            .hit_chance {
                                display: none!important;
                                position: absolute;
                                top: -40px;
                                right: -110px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100px;
                                height: 50px;
                                background: black;
                                border: 1px white solid;
                                z-index: 100;

                                p:first-child {
                                    padding-top: 8px;
                                }

                                p:nth-child(2) {
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                }

                // Melee Column Specific
                .melee-column {
                    margin-right: 10px;
                    @include mobile { margin-right: 5px; }
                }
            }
        }
    }

    // Game Over
    .game-over {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
        height: 155px;
        background: black;
        border: 1px white solid;
        @include mobile {
            bottom: 10%;
            width: 175px;
            height: 80px;
        }

        // End Text
        .end-text {
            margin-top: 7px;
            text-align: center;
            font-weight: normal;
            font-size: 20px;
            @include mobile {
                padding-top: 4px;
                font-size: 10px;
            }
        }

        // Reward
        .reward {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            padding: 0 30px;
            @include mobile {
                margin-top: 7px;
                padding: 0 30px 0 15px;
            }

            // Left (Acquired XP, Gold, Diamonds)
            .left {
                li {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin-bottom: 2px;
                        &:last-child {
                            margin-left: 12px;
                        }

                        @include mobile {
                            margin-bottom: 1px;
                            font-size: 8px;
                        }
                    }
                }
            }

            // Right - Generated Item(s)
            .right {
                display: flex;

                .item_container {
                    margin-right: 5px;
                    &:last-child {
                        margin-right: 0;
                    }

                    .stats {
                        @include mobile {
                            margin-bottom: 30px;
                        }
                    }
                }

            }
        }

        // Confirm
        .confirm-btn {
            display: block;
            width: 80px;
            margin: 10px auto 0 auto;
            padding: 5px 0;
            background: black;
            color: white;
            text-align: center;
            border: 1px white solid;
            transition: all 500ms;
            &:hover {
                color: orangered;
                border: 1px orangered solid;
            }
            
            @include mobile {
                width: 60px;
                margin-top: 5px;
                padding: 2px 0;
                font-size: 10px;
            }
        }
    } 
}

// Enemy Colored
#enemy {
    &.avian {
        svg { fill: $avian-color; }
        border-color: $avian-color;
        p:not(.hp-value) { color: $avian-color; }
        .hp-current { background: $avian-color; }
        .hp-max { background: $avian-hpbar-bg; }
    }
    &.dinosaur {
        svg { fill: $dinosaur-color; }
        border-color: $dinosaur-color;
        p:not(.hp-value) { color: $dinosaur-color; }
        .hp-current { background: $dinosaur-color; }
        .hp-max { background: $dinosaur-hpbar-bg; }
    }
    &.insect {
        svg { fill: $insect-color; }
        border-color: $insect-color;
        p:not(.hp-value) { color: $insect-color; }
        .hp-current { background: $insect-color; }
        .hp-max { background: $insect-hpbar-bg; }
    }
    &.wildlife {
        svg { fill: $wildlife-color; }
        border-color: $wildlife-color;
        p:not(.hp-value) { color: $wildlife-color; }
        .hp-current { background: $wildlife-color; }
        .hp-max { background: $wildlife-hpbar-bg; }
    }
    &.reptile {
        svg { fill: $reptile-color; }
        border-color: $reptile-color;
        p:not(.hp-value) { color: $reptile-color; }
        .hp-current { background: $reptile-color; }
        .hp-max { background: $reptile-hpbar-bg; }
    }
    &.aquatic {
        svg { fill: $aquatic-color; }
        border-color: $aquatic-color;
        p:not(.hp-value) { color: $aquatic-color; }
        .hp-current { background: $aquatic-color; }
        .hp-max { background: $aquatic-hpbar-bg; }
    }
}