
// Game Page
.battle-section {
    height: 100vh;
    overflow: hidden!important;
    background: black;

    // Characters
    .characters {
        width: 100%;
        padding: 120px 150px 0 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mobile {
            padding: 120px 40px 0 40px;
        }

        @include tablet {
            padding: 120px 50px 0 50px;
        }

        // .character-container would go here, but I made own file for it (check _character.scss)
    }

    // Game Over
    .game-over {
        display: none;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
        padding: 10px 0;
        background: black;
        border: 1px white solid;

        &.active {
            display: block;
        }

        @include mobile {
            width: 200px;
            padding: 5px 0;
        }

        // End Text
        .end-text {
            text-align: center;
            font-size: 20px;
            @include mobile {
                padding-top: 4px;
                font-size: 12px;
            }
        }

        // Reward
        .reward {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            padding: 0 30px;
            @include mobile {
                margin-top: 7px;
                padding: 0 10px;
            }

            // Left (Acquired XP, Gold)
            .left {
                li {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin-bottom: 2px;
                        &:last-child {
                            margin-left: 12px;
                        }

                        @include mobile {
                            margin-bottom: 1px;
                            font-size: 9px;
                        }
                    }
                }
            }

            // Right - Generated Item(s)
            .right {
                display: flex;

                .item-container {
                    margin-left: 5px;
                    &:first-child {
                        margin-left: 0;
                    }

                    .stats {
                        @include mobile {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        // Confirm
        .confirm-btn {
            display: block;
            margin: 12px auto 0 auto;
            padding: 8px 0;
            text-align: center;
            
            @include mobile {
                width: 60px;
                margin-top: 8px;
                padding: 4px 0;
                font-size: 10px;
            }
        }
    } 
}