
// Game Page
.battle-section {
    height: 100vh;
    overflow: hidden!important;
    background: black;

    // Characters
    .characters {
        width: 100%;
        padding: 120px 150px 0 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include large {
            padding: 120px 80px 0 80px;
        }

        @include medium {
            padding: 30px 30px 0 30px;
        }
    }

    // Game Over
    .game-over {
        display: none;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 350px;
        padding: 10px 0;
        background: black;
        border: 1px white solid;

        @include medium {
            width: 240px;
            padding: 7px;
        }

        @include small {
            width: 200px;
            padding: 5px;
        }

        &.active {
            display: block;
        }

        // End Text
        .end-text {
            text-align: center;
            font-size: 20px;

            @include medium {
                font-size: 16px;
            }

            @include small {
                font-size: 12px;
            }
        }

        // Reward
        .reward {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
            padding: 0 30px;

            @include medium {
                margin-top: 10px;
                padding: 0 5px;
                font-size: 12px;
            }

            @include small {
                margin-top: 7px;
                font-size: 9px;
            }

            // Left (Acquired XP, Gold)
            .left {
                li {
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin-bottom: 2px;
                        &:last-child {
                            margin-left: 12px;
                        }
                    }
                }
            }

            // Right - Generated Item(s)
            .right {
                display: flex;

                .item-container {
                    margin-left: 5px;
                    &:first-child {
                        margin-left: 0;
                    }

                    @include small {
                        margin-left: 3px;
                    }
                }
            }
        }

        // Confirm
        .confirm-btn {
            display: block;
            margin: 12px auto 0 auto;
            padding: 8px 0;
            text-align: center;

            @include medium {
                margin-top: 7px;
                padding: 6px 0;
            }

            @include small {
                padding: 4px 0;
                font-size: 8px;
            }
        }
    } 
}