
// Inventory
.inventory {
    
    // Container
    .container {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        padding-top: 40px;

        // Left (Equipped Items, Stats, Shop
        .left {
    
            // Top (Equipped Items & Stats)
            .top {
                display: flex;
    
                // Equipped Items
                .current-equipment {
                    display: flex;
                    padding: 10px;
                    background: black;
                    border: 1px white solid;
    
                    ul {
                        &:first-child {
                            margin-right: 10px;
                            @include mobile { margin-right: 2px; }
                        }
    
                        li {
                            margin-bottom: 5px; 
                            &:last-child { margin-bottom: 0; }
                            @include mobile { margin-bottom: 2px; }
                        }
                    }
                }
    
                // Player Stats
                .player-stats {
                    margin: 5px 0 0 30px;
    
                    @include mobile {
                        font-size: 10px;
                        margin: 5px 0 0 10px;
                    }
    
                    .name {
                        margin-bottom: 10px;
                    }
    
                    ul {
                        li { padding: 0 3px; }
                    }
                }   
            }
    
            // Shop (Bottom)
            .shop {
                display: inline-block;
                margin-top: 40px;
                padding: 20px;
                border: 1px white solid;
                
                // Items
                .items {
                    display: flex;
                    justify-content: center;
    
                    .item-container {
                        margin-left: 5px;
                        &:first-child { margin-left: 0; }
                    }
                }
    
                // Options
                .options {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 10px;
    
                    // .reroll-btn, .buy-btn {}
                }
            }
        }
    
        // Right (Inventory Items)
        .right {

            // Inventory Items
            .inventory-items {
                border: 1px white solid;
                padding: 10px;

                ul {
                    display: flex;
                    margin-bottom: 5px;
                    &:last-child { margin-bottom: 0px; }
                }

                .item-container {
                    margin-right: 5px;
                    &:last-child { margin-right: 0; }
                }
            }

            // Options
            .options {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                // Equip & Sell Buttons
                .options-right {
                    .sell-btn {
                        margin-left: 10px;
                    }
                }

                // Sort Button
                .sort-btn {
                    position: relative;
                    width: 40px;
                    padding: 11px 0;

                    p {
                        position: absolute;
                        top: 60%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}