
// Sidemenu
.side-menu {
    width: 300px;
    height: 100%;
    border-right: 1px white solid;

    @include medium {
        width: 200px;
    }

    // Character Info
    .character-info {
        display: flex;
        //border-bottom: 1px white solid;
        padding: 10px;

        @include small {
            padding: 5px;
        }

        // Character Icon
        .character-icon {
            width: 50px;
            height: 50px;
            background: #ccc;
            border-radius: 5px;

            @include medium {
                width: 32px;
                height: 32px;
            }

            @include small {
                width: 26px;
                height: 26px;
            }
        }
        
        // Level Container (everything next to the icon)
        .level-container {
            display: flex;
            flex-direction: column;
            flex-grow: 100;
            margin-left: 10px;

            @include small {
                margin-left: 7px;
            }

            // Div for Name + Level on the left, Currency on the right
            .top-container {
                display: flex;
                justify-content: space-between;

                @include small {
                    padding: 0 2px;
                }

                .name {

                    @include medium {
                        font-size: 10px;
                    }
                }

                // Currency
                .currency {
                    display: flex;

                    @include medium {
                        font-size: 10px;
                    }

                    .gold {
                        svg { fill: gold; }
                        color: gold;
                    }

                    .rolls {
                        margin-left: 7px;
                        svg { fill: rgb(165, 0, 0); }
                        color: rgb(165, 0, 0);

                        @include medium {
                            margin-left: 5px;
                        }
                    }

                    svg {
                        width: 12px;
                        height: 12px;
                        fill: white;

                        @include medium {
                            width: 7px;
                            height: 7px;
                        }
                    }
                }
            }

            // XP Bar
            .xp-bar {
                margin-top: 5px;
                display: flex;
                width: 100%;
                background: white;
                height: 10px;
                flex-grow: 100;
                border-radius: 5px;

                @include small {
                    margin-top: 2px;
                }
            }
        }
    }

    // Links
    .nav-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        border-bottom: 1px white solid;
        transition: 200ms;
        // Not Locked On Hover
        &:not(.locked):hover {
            p { color: black; }
            background: white;
            .link-icon.active {
                svg {
                    fill: black;
                }
            }
        }

        @include medium {
            padding: 10px 15px;
            font-size: 12px;
        }

        @include small {
            padding: 7px 10px;
            font-size: 10px;
        }

        // Locked Link
        &.locked {
            p {
                color: #444;
            }
            cursor: default;
        }

        // Link Icon
        .link-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            &.active {
                svg {
                    fill: white;
                }
            }

            svg {
                width: 18px;
                height: 18px;
                fill: #444;
            }
        }
    }
}