* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body, * html {
  overflow-x: hidden;
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}

* .bold {
  font-weight: bold;
}

* .coloured {
  color: orangered;
}

* .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .stat-container p:nth-child(2) {
  margin-left: 10px;
}

* .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
}

* .loading .circle-loading {
  width: 100px;
  height: 100px;
  border: 4px rgba(255, 69, 0, 0.25) solid;
  border-top: 4px orangered solid;
  border-radius: 50%;
  -webkit-animation: loading 500ms infinite linear;
          animation: loading 500ms infinite linear;
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .loading .circle-loading {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 768px) {
  * .loading .circle-loading {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: auto;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper {
    min-width: auto;
    max-width: auto;
    overflow-x: scroll;
  }
}

@media (max-height: 300px) {
  * .page-wrapper {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll !important;
  }
  * .page-wrapper .content-container {
    height: 100%;
  }
  * .page-wrapper .content-container .side-menu, * .page-wrapper .content-container .main-content {
    height: 100%;
  }
}

@media (max-width: 768px) {
  * .page-wrapper {
    display: block;
  }
}

* .page-wrapper .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px white solid;
  height: 600px;
}

@media (max-height: 300px) {
  * .page-wrapper .content-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

* .page-wrapper .content-container .side-menu {
  width: 300px;
  height: 100%;
  border-right: 1px white solid;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
  }
}

* .page-wrapper .content-container .side-menu .character-info {
  display: none;
  padding: 10px;
}

* .page-wrapper .content-container .side-menu .character-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .page-wrapper .content-container .side-menu .character-info .character-icon {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  margin-left: 10px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .page-wrapper .content-container .side-menu .character-info .level-container .xp-bar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: white;
  height: 10px;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-bottom: 1px white solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover {
  background: white;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover p {
  color: black;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover .link-icon.active svg {
  fill: black;
}

* .page-wrapper .content-container .side-menu .nav-link.locked {
  cursor: default;
}

* .page-wrapper .content-container .side-menu .nav-link.locked p {
  color: #444;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon.active svg {
  fill: white;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon svg {
  width: 18px;
  height: 18px;
  fill: #444;
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu .nav-link {
    padding: 8px 0 8px 12px;
  }
}

* .page-wrapper .content-container .main-content {
  position: relative;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .main-content {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

.crafting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.crafting .heading {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.crafting .level-menu {
  margin-top: 20px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.crafting .level-menu .menu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.crafting .level-menu .menu-items .menu-item {
  width: auto;
  padding: 15px 0;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.crafting .level-menu .menu-items .menu-item:hover {
  background: white;
}

.crafting .level-menu .menu-items .menu-item:hover p {
  color: black;
}

.crafting .level-menu .menu-items .menu-item.active {
  background: white;
}

.crafting .level-menu .menu-items .menu-item.active p {
  color: black;
}

.crafting .level-menu .menu-items .menu-item p {
  text-align: center;
}

.crafting .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.crafting .content .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 276px;
  margin: 0 auto;
}

.crafting .content .middle-container .player-drops {
  margin: 30px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .player-drops ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .player-drops ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craftable-items {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .craftable-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .craftable-items ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craftable-items ul .item-container .item {
  width: 40px;
  height: 40px;
}

.crafting .content .middle-container .drops-needed {
  margin: 20px auto 0 auto;
  padding: 5px;
  border: 1px white solid;
}

.crafting .content .middle-container .drops-needed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.crafting .content .middle-container .drops-needed ul .item-container {
  width: 44px;
  height: 44px;
}

.crafting .content .middle-container .craft-btn {
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 70px;
  padding: 7px 0;
  -webkit-transition: 500ms all;
  transition: 500ms all;
  background: white;
  color: black;
  border: 1px black solid;
}

.crafting .content .middle-container .craft-btn.active:hover {
  background: white;
  color: black;
}

.crafting .content .middle-container .craft-btn.active {
  background: black;
  color: white;
  border-color: white;
}

.crafting .content .rarity-menu-container .rarity-menu {
  width: 150px;
  margin: 30px auto 0 auto;
  border: 1px white solid;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-bottom: 1px white solid;
  cursor: pointer;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:first-child {
  margin-top: -1px;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:last-child {
  border-bottom: 0;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:hover {
  background: white;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item:hover p {
  color: black;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item.active {
  background: white;
}

.crafting .content .rarity-menu-container .rarity-menu .menu-item.active p {
  color: black;
}
/*# sourceMappingURL=crafting.css.map */