
@import "../style.scss";

.menu_section, .inventory_section {
    height: calc(100vh - #{$nav_height});
    max-height: calc(100vh - #{$nav_height});

    .dark_overlay {
        @include dark_overlay(0.7);
    }

    .container {
        width: 60%;
        margin: auto;
        padding-top: 50px;
        
        .box {
            position: relative;
            background: #ccc;
            border: 1px black solid;
            height: calc(100vh - #{$nav_height} - 2 * 50px);
            border: 2px black solid;

            .content {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                flex-direction: column;
            }

            .menu_btn {
                @include menu_button;
            }
            
            .content#main_menu {
            
                .start_btn {
                    margin-bottom: 10px;
                    background: white;
                    color: black;
                    border: 1px black solid;
                }
                .start_btn.active {
                    background: black;
                    color: white;
                    &:hover { color: orangered!important; }
                }
            }        
        }
    }

}