
@import "../style.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: $nav_height;
    padding: 0 30px;
    box-sizing: border-box;
    background: black;
    transition: all 1000ms;
    border-bottom: 1px white solid;

    .logo {
        color: white;
        font-size: 26px;
        font-weight: bold;
        transition: all 500ms;
        &:hover {
            color: orangered;
        }
    }

    ul {

        li {
            display: inline;
            padding: 0 10px;

            .link {
                color: white;
                text-decoration: none;
                font-size: 18px;
                transition: all 500ms;
                &:hover {
                    color: orangered;
                }
            }
        }
    }
}