* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}

* .bold {
  font-weight: bold;
}

* .coloured {
  color: orangered;
}

* .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .stat-container p:nth-child(2) {
  margin-left: 10px;
}

* .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
}

* .loading .circle-loading {
  width: 100px;
  height: 100px;
  border: 4px rgba(255, 69, 0, 0.25) solid;
  border-top: 4px orangered solid;
  border-radius: 50%;
  -webkit-animation: loading 500ms infinite linear;
          animation: loading 500ms infinite linear;
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .loading .circle-loading {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 768px) {
  * .loading .circle-loading {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: auto;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper {
    min-width: auto;
    max-width: auto;
    overflow-x: scroll;
  }
}

@media (max-height: 300px) {
  * .page-wrapper {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll !important;
  }
  * .page-wrapper .content-container {
    height: 100%;
  }
  * .page-wrapper .content-container .side-menu, * .page-wrapper .content-container .main-content {
    height: 100%;
  }
}

@media (max-width: 768px) {
  * .page-wrapper {
    display: block;
  }
}

* .page-wrapper .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px white solid;
  height: 600px;
}

@media (max-height: 300px) {
  * .page-wrapper .content-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

* .page-wrapper .content-container .side-menu {
  width: 300px;
  height: 100%;
  border-right: 1px white solid;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
  }
}

* .page-wrapper .content-container .side-menu .character-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

* .page-wrapper .content-container .side-menu .character-info .character-icon {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  margin-left: 10px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .page-wrapper .content-container .side-menu .character-info .level-container .xp-bar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: white;
  height: 10px;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-bottom: 1px white solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover {
  background: white;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover p {
  color: black;
}

* .page-wrapper .content-container .side-menu .nav-link.locked {
  cursor: default;
}

* .page-wrapper .content-container .side-menu .nav-link.locked p {
  color: #444;
}

* .page-wrapper .content-container .side-menu .nav-link svg {
  width: 20px;
  height: 20px;
  fill: #444;
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu .nav-link {
    padding: 8px 0 8px 12px;
  }
}

* .page-wrapper .content-container .main-content {
  position: relative;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .main-content {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

.inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.inventory .top {
  width: 80% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px auto 0 auto;
}

@media (max-width: 768px) {
  .inventory .top {
    width: 95% !important;
    margin: 10px auto 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .top {
    width: 90% !important;
  }
}

.inventory .top .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.inventory .top .left .current_equipment {
  background: black;
  border: 1px white solid;
}

.inventory .top .left .current_equipment .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .inventory .top .left .current_equipment .wrapper {
    padding: 3px;
  }
}

.inventory .top .left .current_equipment .wrapper ul li {
  margin: 0 0 5px 0;
}

@media (max-width: 768px) {
  .inventory .top .left .current_equipment .wrapper ul li {
    margin: 0 0 2px 0;
  }
}

.inventory .top .left .current_equipment .wrapper ul li:last-child {
  margin-bottom: 0;
}

.inventory .top .left .current_equipment ul:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .top .left .current_equipment ul:first-child {
    margin-right: 2px;
  }
}

.inventory .top .left .player_stats {
  min-width: 130px;
  margin-top: 10px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .inventory .top .left .player_stats {
    min-width: 70px;
    margin: 5px 10px 0 10px;
    font-size: 10px;
  }
}

.inventory .top .left .player_stats .wrapper hr {
  border: 1px white solid;
  margin-bottom: 5px;
}

.inventory .top .left .player_stats .wrapper ul li {
  padding: 0 3px;
}

.inventory .top .right .items_container {
  position: relative;
  background: black;
  border: 1px white solid;
}

.inventory .top .right .items_container .wrapper {
  padding: 10px;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .wrapper {
    padding: 3px;
  }
}

.inventory .top .right .items_container .wrapper .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inventory .top .right .items_container .wrapper .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inventory .top .right .items_container .wrapper .items ul li {
  margin: 0 5px 5px 0;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .wrapper .items ul li {
    margin: 0 2px 2px 0;
  }
}

.inventory .top .right .items_container .wrapper .items ul li:last-child {
  margin-right: 0;
}

.inventory .top .right .items_container .options {
  position: absolute;
  right: -10px;
  bottom: -60px;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options {
    bottom: -32px;
    right: -2px;
  }
}

.inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
  width: 150px;
  padding: 10px 0;
  background: black;
  color: white;
  border: 1px white solid;
  text-align: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: 80px;
  padding: 8px 0;
  background: white;
  color: black;
  border: 1px white solid;
}

.inventory .top .right .items_container .options .equip_btn:hover, .inventory .top .right .items_container .options .sell_btn:hover {
  background: black;
  color: orangered;
  border: 1px orangered solid;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
    width: 80px;
    padding: 4px 0;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
    width: 135px;
    padding: 8px 0;
  }
}

.inventory .top .right .items_container .options .equip_btn:hover, .inventory .top .right .items_container .options .sell_btn:hover {
  background: white;
  color: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
    width: 40px;
    padding: 3px 0;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .top .right .items_container .options .equip_btn, .inventory .top .right .items_container .options .sell_btn {
    width: 80px;
    padding: 8px 0;
  }
}

.inventory .top .right .items_container .options .equip_btn {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .top .right .items_container .options .equip_btn {
    margin-right: 7px;
  }
}

.inventory .top .right .items_container .options .equip_btn.active, .inventory .top .right .items_container .options .sell_btn.active {
  background: black;
  color: white;
  border: 1px white solid;
}

.inventory .top .right .items_container .options .equip_btn.active:hover, .inventory .top .right .items_container .options .sell_btn.active:hover {
  color: orangered;
  border: 1px orangered solid;
}

.inventory .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80% !important;
  margin: 60px auto 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .inventory .bottom {
    width: 95% !important;
    margin: 10px auto 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .bottom {
    width: 90% !important;
    margin: 20px auto 0 auto;
  }
}

.inventory .bottom .shop_container {
  width: 200px;
  height: 112px !important;
  background: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container {
    width: 110px;
    height: 70px !important;
  }
}

.inventory .bottom .shop_container .wrapper {
  padding: 10px;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper {
    padding: 5px;
  }
}

.inventory .bottom .shop_container .wrapper .items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inventory .bottom .shop_container .wrapper .items ul li {
  margin: 0 5px 0 0;
}

.inventory .bottom .shop_container .wrapper .items ul li:last-child {
  margin-right: 0;
}

.inventory .bottom .shop_container .wrapper .options {
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options {
    margin-top: 5px;
  }
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
  width: 150px;
  padding: 10px 0;
  background: black;
  color: white;
  border: 1px white solid;
  text-align: center;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  width: 62px;
  padding: 10px 0;
  background: white;
  color: black;
  border: 1px white solid;
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn:hover, .inventory .bottom .shop_container .wrapper .options .buy_btn:hover {
  background: black;
  color: orangered;
  border: 1px orangered solid;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
    width: 80px;
    padding: 4px 0;
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
    width: 135px;
    padding: 8px 0;
  }
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn:hover, .inventory .bottom .shop_container .wrapper .options .buy_btn:hover {
  background: white;
  color: black;
  border: 1px white solid;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
    width: 43px;
    padding: 5px 0;
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .inventory .bottom .shop_container .wrapper .options .reroll_btn, .inventory .bottom .shop_container .wrapper .options .buy_btn {
    width: 62px;
    padding: 10px 0;
  }
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn.active, .inventory .bottom .shop_container .wrapper .options .buy_btn.active {
  background: black;
  color: white;
}

.inventory .bottom .shop_container .wrapper .options .reroll_btn.active:hover, .inventory .bottom .shop_container .wrapper .options .buy_btn.active:hover {
  color: orangered;
  border: 1px orangered solid;
}

.inventory .bottom .shop_container .wrapper .options button:first-child {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .inventory .bottom .shop_container .wrapper .options button:first-child {
    margin-right: 5px;
  }
}
/*# sourceMappingURL=inventory.css.map */