@import "../style.scss";

// Variables
$box_width_mobile: 400px;
$box_height_mobile: 300px;

$box_width_tablet: 700px;
$box_height_tablet: 525px;

$box_width_desktop: 800px;
$box_height_desktop: 600px;

$box_margin: 30px;

$dungeon_width_desktop: 1200px;

// Container
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
  
    // Box
    .box {
        position: relative;
        width: $box_width_desktop;
        height: $box_height_desktop;
        margin: $box_margin;
        border: 1px white solid;
        box-sizing: border-box;
        background: black;

        @include mobile {
            width: $box_width_mobile;
            height: $box_height_mobile;
        }

        @include tablet {
            width: $box_width_tablet;
            height: $box_height_tablet;
        }
    }
}

// Container For Dungeon
.container.dungeon_page {
    overflow: hidden;

    .box {
        min-width: $dungeon_width_desktop!important;

        @include mobile {
            min-width: $box_width_mobile!important;
        }

        @include tablet {
            min-width: $box_width_tablet!important;
        }
    }
}