* {
  margin: 0;
  padding: 0;
  color: white;
  border-spacing: 0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: white;
}

* li {
  list-style: none;
}

* button {
  outline: 0;
  border: 1px black solid;
  background: none;
  cursor: pointer;
}

* .bold {
  font-weight: bold;
}

* .coloured {
  color: orangered;
}

* .stat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .stat-container p:nth-child(2) {
  margin-left: 10px;
}

* .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
}

* .loading .circle-loading {
  width: 100px;
  height: 100px;
  border: 4px rgba(255, 69, 0, 0.25) solid;
  border-top: 4px orangered solid;
  border-radius: 50%;
  -webkit-animation: loading 500ms infinite linear;
          animation: loading 500ms infinite linear;
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .loading .circle-loading {
    width: 75px;
    height: 75px;
  }
}

@media (max-width: 768px) {
  * .loading .circle-loading {
    width: 50px;
    height: 50px;
  }
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes loading {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

* .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  width: auto;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper {
    min-width: auto;
    max-width: auto;
    overflow-x: scroll;
  }
}

@media (max-height: 300px) {
  * .page-wrapper {
    min-height: 300px;
    max-height: 300px;
    overflow-y: scroll !important;
  }
  * .page-wrapper .content-container {
    height: 100%;
  }
  * .page-wrapper .content-container .side-menu, * .page-wrapper .content-container .main-content {
    height: 100%;
  }
}

@media (max-width: 768px) {
  * .page-wrapper {
    display: block;
  }
}

* .page-wrapper .content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px white solid;
  height: 600px;
}

@media (max-height: 300px) {
  * .page-wrapper .content-container {
    min-height: 300px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container {
    width: 100%;
    height: 100vh;
    border: none;
  }
}

* .page-wrapper .content-container .side-menu {
  width: 300px;
  height: 100%;
  border-right: 1px white solid;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
    font-size: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .side-menu {
    min-width: 25%;
    max-width: 25%;
  }
}

* .page-wrapper .content-container .side-menu .character-info {
  display: none;
  padding: 10px;
}

* .page-wrapper .content-container .side-menu .character-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .page-wrapper .content-container .side-menu .character-info .character-icon {
  width: 50px;
  height: 50px;
  background: #ccc;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  margin-left: 10px;
}

* .page-wrapper .content-container .side-menu .character-info .level-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* .page-wrapper .content-container .side-menu .character-info .level-container .xp-bar {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: white;
  height: 10px;
  -webkit-box-flex: 100;
      -ms-flex-positive: 100;
          flex-grow: 100;
  border-radius: 5px;
}

* .page-wrapper .content-container .side-menu .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border-bottom: 1px white solid;
  -webkit-transition: 200ms;
  transition: 200ms;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover {
  background: white;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover p {
  color: black;
}

* .page-wrapper .content-container .side-menu .nav-link:not(.locked):hover .link-icon.active svg {
  fill: black;
}

* .page-wrapper .content-container .side-menu .nav-link.locked {
  cursor: default;
}

* .page-wrapper .content-container .side-menu .nav-link.locked p {
  color: #444;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon.active svg {
  fill: white;
}

* .page-wrapper .content-container .side-menu .nav-link .link-icon svg {
  width: 18px;
  height: 18px;
  fill: #444;
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .side-menu .nav-link {
    padding: 8px 0 8px 12px;
  }
}

* .page-wrapper .content-container .main-content {
  position: relative;
  width: 800px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: black;
}

@media (max-width: 500px) {
  * .page-wrapper .content-container .main-content {
    min-width: 370px;
  }
}

@media (max-width: 768px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  * .page-wrapper .content-container .main-content {
    min-width: 75%;
    max-width: 75%;
  }
}

.classic-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.classic-game .heading {
  margin-top: 20px;
  font-size: 32px;
  text-align: center;
}

.classic-game .reroll-enemies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 13px 40px;
  border-top: 1px white solid;
  border-bottom: 1px white solid;
}

.classic-game .reroll-enemies .right .reroll-btn {
  padding: 10px 8px;
  border: 1px black solid;
  background: white;
  color: black;
  height: 100%;
  -webkit-transition: 500ms all;
  transition: 500ms all;
}

.classic-game .reroll-enemies .right .reroll-btn.active {
  background: black;
  color: white;
  border-color: white;
}

.classic-game .reroll-enemies .right .reroll-btn.active:hover {
  background: white;
  color: black;
}

.classic-game .enemies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  padding: 0 40px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.classic-game .enemies .enemy-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  height: 330px;
  border: 1px white solid;
}

.classic-game .enemies .enemy-card .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 14px;
  padding: 5px 5px 5px 10px;
  border-bottom: 1px white solid;
}

.classic-game .enemies .enemy-card .top .info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.classic-game .enemies .enemy-card .top .info-btn svg {
  width: 14px;
  height: 14px;
}

.classic-game .enemies .enemy-card .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px white solid;
  height: 170px;
}

.classic-game .enemies .enemy-card .icon svg {
  width: 100px;
  height: 100px;
  fill: white;
}

.classic-game .enemies .enemy-card .bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.classic-game .enemies .enemy-card .bottom .drop-container, .classic-game .enemies .enemy-card .bottom .attack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
}

.classic-game .enemies .enemy-card .bottom .drop-container svg, .classic-game .enemies .enemy-card .bottom .attack-container svg {
  width: 75%;
  height: 75%;
}

.classic-game .enemies .enemy-card .bottom .drop-container .drop-name, .classic-game .enemies .enemy-card .bottom .drop-container .attack-warning, .classic-game .enemies .enemy-card .bottom .attack-container .drop-name, .classic-game .enemies .enemy-card .bottom .attack-container .attack-warning {
  display: none;
  position: absolute;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.classic-game .enemies .enemy-card .bottom .drop-container .drop-name.active, .classic-game .enemies .enemy-card .bottom .drop-container .attack-warning.active, .classic-game .enemies .enemy-card .bottom .attack-container .drop-name.active, .classic-game .enemies .enemy-card .bottom .attack-container .attack-warning.active {
  display: block;
}

.classic-game .enemies .enemy-card .bottom .drop-container {
  background: #555;
}

.classic-game .enemies .enemy-card .bottom .drop-container:hover .drop-name {
  display: block;
}

.classic-game .enemies .enemy-card .bottom .attack-container {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 15px;
}

.classic-game .enemies .enemy-card .bottom .attack-container:not(.active) svg {
  fill: white !important;
}

.classic-game .enemies .enemy-card .bottom .attack-container:hover .attack-warning {
  display: block;
}

.classic-game .enemies .enemy-card .bottom .attack-container svg {
  width: 100%;
  height: 100%;
}

.classic-game .enemies .enemy-card .bottom .attack-container .attack-warning {
  color: white;
}

.classic-game .enemies .enemy-card .info {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.classic-game .enemies .enemy-card .info.active {
  display: block;
}

.classic-game .enemies .enemy-card .info .info-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.classic-game .enemies .enemy-card .info .info-container .hide-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
}

.classic-game .enemies .enemy-card .info .info-container .hide-btn svg {
  width: 16px;
  height: 16px;
}

.classic-game .enemies .enemy-card .info .info-container .name {
  padding-top: 45px;
}

.classic-game .enemies .enemy-card .info .info-container .name p {
  font-weight: bold;
  text-align: center;
}

.classic-game .enemies .enemy-card .info .info-container .stats {
  padding: 25px 20px 10px 20px;
}

.enemy-card.avian svg {
  fill: #ff97b7 !important;
}

.enemy-card.avian p {
  color: #ff97b7;
}

.enemy-card.avian .top, .enemy-card.avian .icon, .enemy-card.avian {
  border-color: #ff97b7;
}

.enemy-card.dinosaur svg {
  fill: #ed6a5a !important;
}

.enemy-card.dinosaur p {
  color: #ed6a5a;
}

.enemy-card.dinosaur .top, .enemy-card.dinosaur .icon, .enemy-card.dinosaur {
  border-color: #ed6a5a;
}

.enemy-card.insect svg {
  fill: #53dd6c !important;
}

.enemy-card.insect p {
  color: #53dd6c;
}

.enemy-card.insect .top, .enemy-card.insect .icon, .enemy-card.insect {
  border-color: #53dd6c;
}

.enemy-card.wildlife svg {
  fill: #e09767 !important;
}

.enemy-card.wildlife p {
  color: #e09767;
}

.enemy-card.wildlife .top, .enemy-card.wildlife .icon, .enemy-card.wildlife {
  border-color: #e09767;
}

.enemy-card.reptile svg {
  fill: #02c39a !important;
}

.enemy-card.reptile p {
  color: #02c39a;
}

.enemy-card.reptile .top, .enemy-card.reptile .icon, .enemy-card.reptile {
  border-color: #02c39a;
}

.enemy-card.aquatic svg {
  fill: #00e1e1 !important;
}

.enemy-card.aquatic p {
  color: #00e1e1;
}

.enemy-card.aquatic .top, .enemy-card.aquatic .icon, .enemy-card.aquatic {
  border-color: #00e1e1;
}
/*# sourceMappingURL=classic_game.css.map */