
@import "../style.scss";

// Variables
$item_bg: #999;
$item_active_color: white;

$common: #555;
$uncommon: green;
$rare: blue;
$epic: purple;
$legendary: orangered;


// Item Container
.item_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    background: $item_bg;
    border: 1px black solid;
    transition: 500ms all;

    // active
    &.active { 
        background: $item_active_color!important; 
        border: 1px $item_active_color solid; 
    }

    // drop
    &.drop {
        background: $common;
        .item { background: $common; }
        svg {
            fill: #ccc;
        }
    }

    // legendary
    &.legendary { 
        background: $legendary; 
        .item { background: $legendary; }
        #name { color: $legendary; }  
    }

    // epic
    &.epic { 
        background: $epic; 
        .item { background: $epic; }
        #name { color: $epic; }
    }

    // rare
    &.rare {
        background: $rare; 
        .item { background: $rare; }
        #name { color: $rare; }
    }

    // uncommon
    &.uncommon { 
        background: $uncommon; 
        .item { background: $uncommon; }
        #name { color: $uncommon; }
    }

    // common
    &.common { 
        background: $common; 
        .item { background: $common; }
        #name { color: $common; }
    }

    // mobile
    @include mobile {
        width: 26px;
        height: 26px;
    }
    
    // Item
    .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        cursor: pointer;
        transition: all 500ms; 
        outline: 0;
        &:hover {
            .stats {
                display: block;
            }
        }

        @include mobile {
            width: 23px;
            height: 23px;
        }

        // Item icon
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 26px;
            height: 26px;

            @include mobile {
                width: 18px;
                height: 18px;
            }
        }

        // Drop Amount (only for drop items)
        .drop-amount {
            position: absolute;
            bottom: -2px;
            right: 0;
            color: white;
        }
    
        // Item Stats
        .stats {
            display: none;
            min-width: 200px;
            margin-bottom: -15px;
            margin-left: 320px;
            padding: 10px 15px;
            background: black;
            border: 1px white solid;
            color: white;
            z-index: 100;
            text-align: left;
            font-size: 14px;
            @include mobile {
                min-width: 150px;
                margin-left: 210px;
                font-size: 10px;
                padding: 5px;
            }

            // Bonus, Stat, Name Container
            .bonus_container, .stat_container, .name_container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                p {
                    font-weight: normal!important;
                }
            }

            // Stat Container
            .stat_container {
                p {
                    font-weight: bold!important;
                }
            }

            // Bonuses
            .bonuses {

                .bonus_container {
                    margin-top: 1px;
                }
            }

            // Name
            #name {
                text-align: center;
                margin-bottom: 8px;
                font-weight: bold!important;
                font-size: 16px;
                @include mobile { 
                    font-size: 12px;
                    margin-bottom: 5px;
                }
            }

            // Headings
            #stats_heading, #bonuses_heading {
                font-weight: bold!important;
                font-size: 16px;
            }

            // Gold Value
            #value {
                margin-top: 5px;

                #value_heading {
                    font-weight: bold!important;
                }
            }
        }
    }
}
