
@import "../style.scss";

// Item Container
.item-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    background: $item_bg;
    border: 1px black solid;
    transition: 500ms all;

    // selected
    &.selected { 
        background: $item_selected_color!important; 
        border: 1px $item_selected_color solid; 
    }

    // mobile
    @include mobile {
        width: 26px;
        height: 26px;
    }
    
    // Item
    .item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        cursor: pointer;
        transition: all 500ms; 
        outline: 0;
        &:hover {
            .stats {
                display: block;
            }
        }

        @include mobile {
            width: 23px;
            height: 23px;
        }

        // Item icon
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 26px;
            height: 26px;

            @include mobile {
                width: 18px;
                height: 18px;
            }
        }

        // Drop Amount (only for drop items)
        .drop-amount {
            position: absolute;
            bottom: -2px;
            right: 1px;
            color: white;
            font-size: 13px;
            @include mobile {
                bottom: 0;
                font-size: 8px;
            }
        }
    
        // Item Stats
        .stats {
            display: none;
            min-width: 200px;
            margin-bottom: -15px;
            margin-left: 320px;
            padding: 10px 15px;
            background: black;
            border: 1px white solid;
            color: white;
            z-index: 100;
            text-align: left;
            font-size: 14px;
            @include mobile {
                min-width: 150px;
                margin-left: 210px;
                font-size: 10px;
                padding: 5px;
            }

            // Bonus, Stat, Name Container
            .bonus-container, .stat-container, .name-container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            // Stat Container
            .stat-container {
                p {
                    font-weight: bold;
                }
            }

            // Bonuses
            .bonuses {
                .bonus-container {
                    margin-top: 1px;
                }
            }

            // Name
            #name {
                text-align: center;
                margin-bottom: 8px;
                font-weight: bold;
                font-size: 16px;
                @include mobile { 
                    font-size: 12px;
                    margin-bottom: 5px;
                }
            }

            // Gold Value
            #value {
                margin-top: 5px;

                #value-heading {
                    font-weight: bold;
                }
            }
        }
    }

    // Drop Classes

    // drop
    &.drop {
        background: $common;
        .item { background: $common; }
    }

    // drop that has amount
    &.drop.has-amount {
        svg {
            top: 40%;
            left: 40%;
        }
    }

    // drop that doesn't have amount
    &.drop:not(.has-amount) {
        svg {
            opacity: 0.4;
        }
    }

    // avian soul
    &.avian-soul, &.feather {
        .stats { border-color: $avian-color; }
        #name { color: $avian-color; }
        .drop-amount { color: $avian-color; }
        svg { fill: $avian-color; }
    }

    // dinosaur soul
    &.dinosaur-soul, &.fossil {
        .stats { border-color: $dinosaur-color; }
        #name { color: $dinosaur-color; }
        .drop-amount { color: $dinosaur-color; }
        svg { fill: $dinosaur-color; }
    }

    // insect soul
    &.insect-soul, &.poison {
        .stats { border-color: $insect-color; }
        #name { color: $insect-color; }
        .drop-amount { color: $insect-color; }
        svg { fill: $insect-color; }
    }

    // wildlife soul
    &.wildlife-soul, &.wildlife-leather {
        .stats { border-color: $wildlife-color; }
        #name { color: $wildlife-color; }
        .drop-amount { color: $wildlife-color; }
        svg { fill: $wildlife-color; }
    }

    // reptiles soul
    &.reptile-soul, &.reptile-leather {
        .stats { border-color: $reptile-color; }
        #name { color: $reptile-color; }
        .drop-amount { color: $reptile-color; }
        svg { fill: $reptile-color; }
    }

    // aquatic soul
    &.aquatic-soul, &.aqua-meat {
        .stats { border-color: $aquatic-color; }
        #name { color: $aquatic-color; }
        .drop-amount { color: $aquatic-color; }
        svg { fill: $aquatic-color; }
    }

    // Rarity Classes

    // legendary
    &.legendary { 
        background: $legendary; 
        .item { background: $legendary; }
        #name { color: $legendary; }  
    }

    // epic
    &.epic { 
        background: $epic; 
        .item { background: $epic; }
        #name { color: $epic; }
    }

    // rare
    &.rare {
        background: $rare; 
        .item { background: $rare; }
        #name { color: $rare; }
    }

    // uncommon
    &.uncommon { 
        background: $uncommon; 
        .item { background: $uncommon; }
        #name { color: $uncommon; }
    }

    // common
    &.common { 
        background: $common; 
        .item { background: $common; }
        #name { color: $common; }
    }
}
